
<h1 style="margin-top: 50px;" class="text-xl font-bold mb-4 text-center">Resumen por Quarter</h1>
<h1 class="text-xl font-bold mb-4 text-center">Año: @DateTime.Now.Year</h1>

<div class="bg-white border border-black rounded-lg shadow-md p-4 mb-6">
    <table class="min-w-full border-collapse border border-black">
        <thead class="bg-yellow-200">
            <tr>
                <th class="text-left text-xs font-medium">Tipo</th>
                <th class="text-left text-xs font-medium">Q1</th>
                <th class="text-left text-xs font-medium">Q2</th>
                <th class="text-left text-xs font-medium">Q3</th>
                <th class="text-left text-xs font-medium">Q4</th>
                <th class="text-left text-xs font-medium">Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in ViewBag.Resumen)
            {
                var total = f.MontoQ1 + f.MontoQ2 + f.MontoQ3 + f.MontoQ4;
                <tr>
                    <td class="text-left text-xs font-medium">@f.Tipo</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ1 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ1)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ2 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ2)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ3 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ3)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ4 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ4)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px] ">
                        @(total == 0 ? "" : String.Format("{0:N0}", Math.Round(total)))  
                    </td>
                </tr>
            }

        </tbody>
    </table>

    
   
   
</div>




<h1 class="text-xl font-bold mb-4 text-center">Resumen por Quarter</h1>
@{
    int? anio = Context.Session.GetInt32("anio");
}
<h1 class="text-xl font-bold mb-4 text-center">Año: @anio</h1>


<div class="bg-white border border-black rounded-lg shadow-md p-4 mb-6">
    <table class="min-w-full border-collapse border border-black">
        <thead class="bg-green-200">
            <tr>
                <th class="text-left text-xs font-medium">Tipo</th>
                <th class="text-left text-xs font-medium">Q1</th>
                <th class="text-left text-xs font-medium">Q2</th>
                <th class="text-left text-xs font-medium">Q3</th>
                <th class="text-left text-xs font-medium">Q4</th>
                <th class="text-left text-xs font-medium">Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in ViewBag.ResumenA)
            {
                var total = f.MontoQ1 + f.MontoQ2 + f.MontoQ3 + f.MontoQ4;
                <tr>
                    <td class="text-left text-xs font-medium">@f.Tipo</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ1 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ1)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ2 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ2)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ3 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ3)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(f.MontoQ4 == 0 ? "" : String.Format("{0:N0}", Math.Round(f.MontoQ4)))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @(total == 0 ? "" : String.Format("{0:N0}", Math.Round(total))) 
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
