@{
    ViewData["Title"] = "Planilla Mes";
}



<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f5f5f5;
    }

    .form-container {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    .form-title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    .form-subtitle {
        font-size: 1.2rem;
        color: #666;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .form-group {
        flex: 1;
        min-width: 220px;
    }

        .form-group label {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group select {
            cursor: pointer;
        }

    .form-group-radio {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        .form-group-radio label {
            margin-bottom: 0;
        }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    .submit-btn, .planilla-btn {
        padding: 8px 20px; /* Disminuir el padding */
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 10px;
    }

    .submit-btn {
        color: #fff;
        background-color: #fcaa67;
    }

        .submit-btn:hover {
            background-color: #e39450;
        }


    .planilla-btn {
        color: #fff;
        background-color: royalblue;
    }


    .horas-disponibles {
        display: block;
        font-size: 0.9rem;
        color: #666;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .eliminar-btn {
        padding: 10px 30px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: red;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .tabla-margen td {
        text-align: right;
    }

    .alert {
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-bottom: 15px;
        text-align: center;
        transition: opacity 0.3s ease-in-out;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border-color: #c3e6cb;
    }
</style>

<div class="form-container">
    @{
        string? nombre = Context.Session.GetString("nombre");
        int? idusuario = Context.Session.GetInt32("id");
        string? recurso = Context.Session.GetString("recurso");
    }
    @if (TempData["ErrorMessageEliminacion"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessageEliminacion"]
        </div>
    }
    @if (TempData["SuccessMessageEliminacion"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessageEliminacion"]
        </div>
    }
    @if (ViewBag.Planilla != null)
    {
        @foreach (var planilla in ViewBag.Planilla)
        {
            <h1 class="form-title">Planilla: @planilla.NombreUsuario</h1>
            <p class="form-subtitle">Rol:@planilla.Rol</p>

            <p class="form-subtitle">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(planilla.Mes) - @planilla.Anio</p>
            <div class="button-container">
                <a href="@Url.Action("ExportarExcel", new { idplanilla = planilla.IdPlanilla })" class="planilla-btn" style="background-color: #28a745; color: white;">Descargar Planilla</a>
            </div>
            break;
        }
    }
    <br />
    <div class="form-group">
        <table id="planillausuario" style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr style="background-color: #d9e2f3; color: black;">
                    <th style="padding: 10px; border: 1px solid #ddd;">Fecha</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Actividad</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Proyecto</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Número Horas</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Costo Unitario</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Costo Total</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Observaciones</th>


                </tr>
            </thead>
            <tbody id="tabla-body">

                @if (ViewBag.Planilla != null)
                {

                    decimal totalhoras = 0;
                    decimal totalcostoshoras = 0;

                    @foreach (var planilla in ViewBag.Planilla)
                    {
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align:center;">@planilla.FechaRegistro.ToString("dd/MM/yyyy")</td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align:center;">
                                @planilla.NombreActividad
                            </td>
                            <td style="padding: 10px; border: 1px solid #ddd; ">
                                @planilla.Nombre
                            </td>

                            <td style="padding: 10px; border: 1px solid #ddd; text-align:right;">
                                @planilla.HHregistradas
                            </td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align:right;">
                                @String.Format("{0:N0}", @planilla.CostoUnitario)
                            </td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align:right;">
                                @String.Format("{0:N0}", @planilla.CostoTotal)
                            </td>
                            <td style="padding: 10px; border: 1px solid #ddd; text-align:center;">
                                @planilla.Observaciones
                            </td>
                           
                        </tr>
                        totalhoras += planilla.HHregistradas;
                        totalcostoshoras += planilla.CostoTotal;
                    }
                    <tr>
                        <td colspan="3" style="padding: 10px; border: 1px solid #ddd; background-color:#d9e2f3;text-align:left;"><strong>Totales</strong></td>
                        <td style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#d9e2f3;"><strong>@totalhoras</strong></td>
                        <td colspan="2" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#d9e2f3;"><strong> @String.Format("{0:N0}", totalcostoshoras)</strong></td>


                    </tr>
                }


            </tbody>
        </table>


    </div>

</div>
<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este registro?");
    }
</script>



