@{
    ViewData["Title"] = "HH-Socios Proyectos";
}

<h2  style="margin-top: 50px;" class="text-2xl font-bold mb-4">HH-Socios a Proyectos</h2>
<div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">Muestra la relación entre el máximo de HH-socios posible de asignar a ejecución de proyectos con el compromiso ya adquirido por proyectos en ejecución.</p>
</div>
<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <table id="facturasTable" class="min-w-full border-collapse border border-black">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-center text-xs font-medium ">Tipo</th>
                    @if (ViewBag.HorasMaximas != null)
                    {
                        @foreach (var fecha in ViewBag.HorasMaximas)
                        {
                            <th class="text-center text-xs font-medium ">@fecha.Mes/@fecha.Anio</th>
                        }
                    }

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                @if (ViewBag.HorasMaximas != null)
                {
                    <tr>
                        <td class="text-xs border font-medium text-left border-black px-4 py-2 min-w-[150px]">Máx.Posibles</td>

                        @foreach (var h in ViewBag.HorasMaximas)
                        {
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N2}", Math.Round(@h.Horas))</td>
                        }
                    </tr>
                }

                @if (ViewBag.HorasProyectos != null)
                {


                    <tr>
                        <td class="text-xs border font-medium text-left border-black px-4 py-2 min-w-[150px]">Efectivo</td>
                        @foreach (var h in ViewBag.HorasProyectos)
                        {
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N2}", @h.Horas)</td>
                        }


                    </tr>




                }
                @if (ViewBag.HorasMaximas != null && ViewBag.HorasProyectos != null)
                {
                    <tr>
                        <td class="text-xs border font-medium text-left border-black px-4 py-2 min-w-[150px]">Balance</td>

                        @for (int i = 0; i < ViewBag.HorasMaximas.Count; i++)
                        {
                            var diferencia = ViewBag.HorasMaximas[i].Horas - ViewBag.HorasProyectos[i].Horas;
                            var colorClass = diferencia >= 0 ? "text-green-700" : "text-red-700";

                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px] @colorClass">
                                @String.Format("{0:N0}", Math.Round(diferencia, 0))
                            </td>
                        }
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>