
@{
    ViewData["Title"] = "Reportes Control Avance HH";
}
@{
    string? numproyecto = Context.Session.GetString("numproyecto");
    string? nombreproyecto = Context.Session.GetString("nombreproyecto");
}
<h2 class="text-2xl font-bold mb-4">Control Avance HH Proyecto:@numproyecto - @nombreproyecto</h2>

<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <h2>Socios</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="text-left text-xs font-medium">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="text-left text-xs font-medium">Totales</th>
                    
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            
                <tr>
                    <td class="border border-black text-left text-xs font-medium">Presupuesto</td>
                    @{
                        decimal totalpresupuestosocio = 0;
                        decimal totalejecutadosocio = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasSociosPlaneadas  hr/mes</td>
                        totalpresupuestosocio+= hhsociosplaneadas.HorasSociosPlaneadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@Math.Round(totalpresupuestosocio)  hr/mes</td>
                </tr>
                    <tr>
                    <td class="border border-black text-left text-xs font-medium">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasSociosEjecutadas  hr/mes</td>
                        totalejecutadosocio += hhsociosplaneadas.HorasSociosEjecutadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@totalejecutadosocio hr/mes</td>
                    </tr>
              

            </tbody>
        </table>

        <h2>Staff</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="text-left text-xs font-medium">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="text-left text-xs font-medium">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black text-left text-xs font-medium">Presupuesto</td>
                    @{
                        decimal totalpresupuestostaff = 0;
                        decimal totalejecutadostaff = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasStaffPlaneadas  hr/mes</td>
                        totalpresupuestostaff += hhsociosplaneadas.HorasStaffPlaneadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@Math.Round(@totalpresupuestostaff)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black text-left text-xs font-medium">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasStaffEjecutadas  hr/mes</td>
                        totalejecutadostaff += hhsociosplaneadas.HorasStaffEjecutadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@totalejecutadostaff hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor A</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="text-left text-xs font-medium">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="text-left text-xs font-medium">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black text-left text-xs font-medium">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultora = 0;
                        decimal totalejecutadosconsultora = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorAPlaneadas  hr/mes</td>
                        totalpresupuestoconsultora += hhsociosplaneadas.HorasConsultorAPlaneadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@Math.Round(@totalpresupuestoconsultora)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black text-left text-xs font-medium">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorAEjecutadas  hr/mes</td>
                        totalejecutadosconsultora += hhsociosplaneadas.HorasConsultorAEjecutadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@totalejecutadosconsultora hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor B</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="text-left text-xs font-medium">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="text-left text-xs font-medium">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black text-left text-xs font-medium">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultorb = 0;
                        decimal totalejecutadosconsultorb = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorBPlaneadas  hr/mes</td>
                        totalpresupuestoconsultorb += hhsociosplaneadas.HorasConsultorBPlaneadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@Math.Round(@totalpresupuestoconsultorb)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black text-left text-xs font-medium">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorBEjecutadas  hr/mes</td>
                        totalejecutadosconsultorb += hhsociosplaneadas.HorasConsultorBEjecutadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@totalejecutadosconsultorb hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor C</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="text-left text-xs font-medium">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="text-left text-xs font-medium">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black text-left text-xs font-medium">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultorc = 0;
                        decimal totalejecutadosconsultorc = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorCPlaneadas  hr/mes</td>
                        totalpresupuestoconsultorc += hhsociosplaneadas.HorasConsultorCPlaneadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@Math.Round(@totalpresupuestoconsultorc)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black text-left text-xs font-medium">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@hhsociosplaneadas.HorasConsultorCEjecutadas  hr/mes</td>
                        totalejecutadosconsultorc += hhsociosplaneadas.HorasConsultorCEjecutadas;
                    }
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[50px]">@totalejecutadosconsultorc hr/mes</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
