
<h1 class="text-xl font-bold mb-4 text-center">Resumen por Quarter</h1>
<h1 class="text-xl font-bold mb-4 text-center">Año: @DateTime.Now.Year</h1>
@*<button onclick="exportToExcel()" class="bg-green-500 text-white px-4 py-2 rounded">Exportar a Excel</button>
*@
<div class="bg-white border border-black rounded-lg shadow-md p-4 mb-6">
    <table class="min-w-full border-collapse border border-black">
        <thead class="bg-yellow-200">
            <tr>
                <th class="text-left text-xs font-medium">Tipo</th>
                <th class="text-left text-xs font-medium">Q1</th>
                <th class="text-left text-xs font-medium">Q2</th>
                <th class="text-left text-xs font-medium">Q3</th>
                <th class="text-left text-xs font-medium">Q4</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var f in ViewBag.Resumen)
            {
                <tr>
                    <td class="text-left text-xs font-medium">@f.Tipo</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @String.Format("{0:N0}", Math.Round(f.MontoQ1))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @String.Format("{0:N0}", Math.Round(f.MontoQ2))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @String.Format("{0:N0}", Math.Round(f.MontoQ3))
                    </td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                        @String.Format("{0:N0}", Math.Round(f.MontoQ4))
                    </td>
                </tr>
            }
            
        </tbody>
    </table>

    <form method="post" action="@Url.Action("ConsultarResumenAnio", "Reporte")">
        <div class="my-4 text-center">
            <label for="anio" class="block text-lg font-semibold mb-2">
                ¿Quieres comparar un resumen con un año anterior?
            </label>
            <select id="anio" name="anio" class="form-control p-2 border rounded-lg bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring focus:ring-yellow-300">
                @{
                    int startYear = 2020;
                    int currentYear = DateTime.Now.Year;
                    for (int year = startYear; year <= currentYear; year++)
                    {
                        <option value="@year">@year</option>
                    }
                }
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300">
                Comparar
            </button>
        </div>
    </form>
</div>
