@{
    ViewData["Title"] = "Reporte Margen de Contribución";
}
 
<h2 style="margin-top: 50px;" class="text-2xl font-bold mb-4">Margen de Contribución de Proyectos</h2>
<div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">Muestra los margenes de contribución de los proyectos.</p>
</div>
<button id="exportButton" class="mt-4 bg-green-500 text-white p-2 rounded">Exportar a Excel</button>
<div style="margin-top: 50px;" class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <table id="facturasTable" class="min-w-full border-collapse border border-black">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left text-xs font-medium ">Num Proyecto</th>
                    <th class="text-left text-xs font-medium ">Nombre</th>
                    <th class="text-left text-xs font-medium ">Monto</th>
                    <th class="text-left text-xs font-medium ">HHSocios</th>
                    <th class="text-left text-xs font-medium ">HHStaff</th>
                    <th class="text-left text-xs font-medium ">Consultor A</th>
                    <th class="text-left text-xs font-medium ">Consultor B</th>
                    <th class="text-left text-xs font-medium ">Consultor C</th>
                    <th class="text-left text-xs font-medium ">Total Servicios</th>
                    <th class="text-left text-xs font-medium ">Total Gastos</th>
                    <th class="text-left text-xs font-medium ">Margen Contribución</th>
                    <th class="text-left text-xs font-medium ">Porcentaje Margen Contribución</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @{
                    decimal
                    totalMonto = 0;
                    decimal
                    totalHHSocios = 0;
                    decimal
                    totalHHLeads = 0;
                    decimal
                    totalConsultorA = 0;
                    decimal
                    totalConsultorB = 0;
                    decimal
                    totalConsultorD = 0;
                    decimal
                    totalServicios = 0;
                    decimal
                    totalGastos = 0;
                    decimal
                    totalMargen = 0;
                    decimal
                    porcentajemargentotal = 0;

                }
                

                @if (ViewBag.Margen != null)
                {
                    @foreach (var margen in ViewBag.Margen)
                    {
                        <tr>
                            <td class="text-xs border font-medium text-left border-black  px-4 py-2 min-w-[150px]">@margen.NumProyecto</td>
                            <td class="text-xs border font-medium text-left border-black sticky left-0 bg-white px-4 py-2 min-w-[150px]">@margen.NombreProyecto</td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.Monto == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.Monto)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.CostosSocios == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.CostosSocios)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.CostosStaff == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.CostosStaff)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.CostoConsultorA == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.CostoConsultorA)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.CostoConsultorB == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.CostoConsultorB)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.CostoConsultorC == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.CostoConsultorC)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.TotalServicios == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.TotalServicios)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.TotalGastos == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.TotalGastos)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">
                                @(margen.Margen == 0 ? "" : String.Format("{0:N0}", Math.Round(margen.Margen)))
                            </td>
                            <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@margen.PorcentajeMargen %</td>
                        </tr>

                       
                        totalMonto += margen.Monto;
                        totalHHSocios += margen.CostosSocios;
                        totalHHLeads += margen.CostosStaff;
                        totalConsultorA += margen.CostoConsultorA;
                        totalConsultorB += margen.CostoConsultorB;
                        totalConsultorD += margen.CostoConsultorC;
                        totalServicios += margen.TotalServicios;
                        totalGastos += margen.TotalGastos;
                        totalMargen += margen.Margen;
                    }
                }
                @{
                    porcentajemargentotal = (totalMargen / totalMonto) * 100;
                }
                <tr class="font-bold bg-gray-100">
                    <td class="text-xs border font-medium text-left border-black px-4 py-2 min-w-[150px]">Totales</td>
                    <td class="text-xs border font-medium text-left border-black px-4 py-2 min-w-[150px]"></td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalMonto))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalHHSocios))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalHHLeads))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalConsultorA))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalConsultorB))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalConsultorD))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalServicios))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round( totalGastos))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N0}", Math.Round(totalMargen))</td>
                    <td class="text-xs border font-medium text-right border-black px-4 py-2 min-w-[150px]">@String.Format("{0:N2}", Math.Round(porcentajemargentotal))%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script>
    document.getElementById('exportButton').addEventListener('click', async function () {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Margen');


        const table = document.getElementById('facturasTable');

        const response = await fetch('/images/unitt.png');
        const imageBlob = await response.blob();
        const arrayBuffer = await imageBlob.arrayBuffer();

        const logoImageId = workbook.addImage({
            buffer: arrayBuffer,
            extension: 'png',
        });


        worksheet.addImage(logoImageId, {
            tl: { col: 0, row: 0 },
            ext: { width: 150, height: 50 },
        });

        worksheet.addRow([]);
        worksheet.addRow([]);

        worksheet.mergeCells('D3:G3');
        const titleCell = worksheet.getCell('D3');
        titleCell.value = `Margen de Contribución de Proyectos`;
        titleCell.font = { bold: true, size: 14 };
        titleCell.alignment = { horizontal: 'center', vertical: 'middle' };

        worksheet.addRow([]);
        worksheet.addRow([]);

 
        Array.from(table.rows).forEach((row, rowIndex) => {
            const rowData = [];
            Array.from(row.cells).forEach((cell, colIndex) => {
               
                const cellValue = cell.innerText.replace(/\./g, ''); 
                const isNumeric = !isNaN(cellValue) && !isNaN(parseFloat(cellValue));

                if (isNumeric && cellValue !== "") {
                    rowData.push(parseFloat(cellValue));
                } else {
                    rowData.push(cell.innerText);
                }
            });
            worksheet.addRow(rowData);
        });

 
        worksheet.eachRow((row, rowNumber) => {
            row.eachCell((cell, colNumber) => {
                if (typeof cell.value === 'number') {

                    cell.numFmt = '#,##0';
                    cell.alignment = { horizontal: 'right' };
                } else if (typeof cell.value === 'string' && cell.value.includes('%')) {
           
                    cell.alignment = { horizontal: 'right' };
                }
            });
        });

        worksheet.columns.forEach(column => {
            column.width = 20;
        });

    
        workbook.xlsx.writeBuffer().then(function (buffer) {
            const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
            saveAs(blob, 'MargendeContribucion.xlsx');
        });
    });
</script>