@{
    ViewData["Title"] = "Reporte Margen de Contribución";
}

<h2 class="text-2xl font-bold mb-4">Margen de Contribución de Proyectos</h2>

<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <table id="facturasTable" class="min-w-full border-collapse border border-black">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Num Proyecto</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Monto</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">HHSocios</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">HHLeads</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consultor A</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consultor B</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Consultor D</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Servicios</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Gastos</th>
                    <th class="px-6 py-3 border border-black text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Margen Contribución</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @{
                    decimal
                    totalMonto = 0;
                    decimal
                    totalHHSocios = 0;
                    decimal
                    totalHHLeads = 0;
                    decimal
                    totalConsultorA = 0;
                    decimal
                    totalConsultorB = 0;
                    decimal
                    totalConsultorD = 0;
                    decimal
                    totalServicios = 0;
                    decimal
                    totalGastos = 0;
                    decimal
                    totalMargen = 0;

                }
                

                @if (ViewBag.Margen != null)
                {
                    @foreach (var margen in ViewBag.Margen)
                    {
                        <tr>
                            <td class="border border-black">@margen.NumProyecto</td>
                            <td class="border border-black">@margen.NombreProyecto</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.Monto)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.CostosSocios)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.CostosStaff)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.CostoConsultorA)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.CostoConsultorB)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.CostoConsultorC)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.TotalServicios)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.TotalGastos)</td>
                            <td class="text-right border border-black">@String.Format("{0:N2}", @margen.Margen)</td>
                        </tr>

                       
                        totalMonto += margen.Monto;
                        totalHHSocios += margen.CostosSocios;
                        totalHHLeads += margen.CostosStaff;
                        totalConsultorA += margen.CostoConsultorA;
                        totalConsultorB += margen.CostoConsultorB;
                        totalConsultorD += margen.CostoConsultorC;
                        totalServicios += margen.TotalServicios;
                        totalGastos += margen.TotalGastos;
                        totalMargen += margen.Margen;
                    }
                }
                
                <tr class="font-bold bg-gray-100">
                    <td class="border border-black text-left" colspan="2">Totales</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalMonto)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalHHSocios)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalHHLeads)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalConsultorA)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalConsultorB)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalConsultorD)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalServicios)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalGastos)</td>
                    <td class="text-right border border-black">@String.Format("{0:N2}", totalMargen)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>