
@{
    ViewData["Title"] = "Reportes Control Avance HH";
}
@{
    string? numproyecto = Context.Session.GetString("numproyecto");
    string? nombreproyecto = Context.Session.GetString("nombreproyecto");
}
<h2 class="text-2xl font-bold mb-4">Control Avance HH Proyecto:@numproyecto - @nombreproyecto</h2>

<div class="container mx-auto mt-4 p-4 bg-white rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <h2>Socios</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Totales</th>
                    
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            
                <tr>
                    <td class="border border-black">Presupuesto</td>
                    @{
                        decimal totalpresupuestosocio = 0;
                        decimal totalejecutadosocio = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black">@hhsociosplaneadas.HorasSociosPlaneadas  hr/mes</td>
                        totalpresupuestosocio+= hhsociosplaneadas.HorasSociosPlaneadas;
                    }
                    <td class="border border-black">@Math.Round(totalpresupuestosocio)  hr/mes</td>
                </tr>
                    <tr>
                    <td class="border border-black">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasSociosEjecutadas  hr/mes</td>
                        totalejecutadosocio += hhsociosplaneadas.HorasSociosEjecutadas;
                    }
                    <td class="border border-black" >@totalejecutadosocio hr/mes</td>
                    </tr>
              

            </tbody>
        </table>

        <h2>Staff</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black">Presupuesto</td>
                    @{
                        decimal totalpresupuestostaff = 0;
                        decimal totalejecutadostaff = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasStaffPlaneadas  hr/mes</td>
                        totalpresupuestostaff += hhsociosplaneadas.HorasStaffPlaneadas;
                    }
                    <td class="border border-black" >@Math.Round(@totalpresupuestostaff)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasStaffEjecutadas  hr/mes</td>
                        totalejecutadostaff += hhsociosplaneadas.HorasStaffEjecutadas;
                    }
                    <td class="border border-black">@totalejecutadostaff hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor A</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultora = 0;
                        decimal totalejecutadosconsultora = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorAPlaneadas  hr/mes</td>
                        totalpresupuestoconsultora += hhsociosplaneadas.HorasConsultorAPlaneadas;
                    }
                    <td class="border border-black" >@Math.Round(@totalpresupuestoconsultora)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorAEjecutadas  hr/mes</td>
                        totalejecutadosconsultora += hhsociosplaneadas.HorasConsultorAEjecutadas;
                    }
                    <td class="border border-black" >@totalejecutadosconsultora hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor B</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultorb = 0;
                        decimal totalejecutadosconsultorb = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorBPlaneadas  hr/mes</td>
                        totalpresupuestoconsultorb += hhsociosplaneadas.HorasConsultorBPlaneadas;
                    }
                    <td class="border border-black">@Math.Round(@totalpresupuestoconsultorb)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorBEjecutadas  hr/mes</td>
                        totalejecutadosconsultorb += hhsociosplaneadas.HorasConsultorBEjecutadas;
                    }
                    <td class="border border-black">@totalejecutadosconsultorb hr/mes</td>
                </tr>


            </tbody>
        </table>
        <h2>Consultor C</h2>
        <table id="facturasTable" class="min-w-full divide-y divide-gray-200">
            <thead class="bg-blue-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
                    @foreach (var meses in ViewBag.Controlhh)
                    {
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">@meses.Mes/@meses.Anio</th>
                    }
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Totales</th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">

                <tr>
                    <td class="border border-black">Presupuesto</td>
                    @{
                        decimal totalpresupuestoconsultorc = 0;
                        decimal totalejecutadosconsultorc = 0;
                    }
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorCPlaneadas  hr/mes</td>
                        totalpresupuestoconsultorc += hhsociosplaneadas.HorasConsultorCPlaneadas;
                    }
                    <td class="border border-black" >@Math.Round(@totalpresupuestoconsultorc)  hr/mes</td>
                </tr>
                <tr>
                    <td class="border border-black">Avance Real</td>
                    @foreach (var hhsociosplaneadas in ViewBag.Controlhh)
                    {
                        <td class="border border-black" >@hhsociosplaneadas.HorasConsultorCEjecutadas  hr/mes</td>
                        totalejecutadosconsultorc += hhsociosplaneadas.HorasConsultorCEjecutadas;
                    }
                    <td class="border border-black" >@totalejecutadosconsultorc hr/mes</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
