@{

    ViewData["Title"] = "Reportes";

}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<style>
  
    .dashboard-container {
        padding: 0; 
        background-color: transparent; 
        margin-top: 50px;
    }


    .section-content {
        background-color: #ffffff; 
        padding: 20px; 
        margin-bottom: 20px; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }


    .card {
        padding: 10px;
        background-color: #e9ecef; 
        text-align: center;
        transition: background-color 0.3s ease;
        height: 100px;
        justify-content: center;
    }

      
</style>


<h2 style="margin-top: 50px;" class="section-header">Key Indicators</h2>
        <div class="section-content">
            <a href="@Url.Action("recuperarcuotas","Reporte",new{mes=DateTime.Now.Month,anio=DateTime.Now.Year})">
                <div class="card">
                    <h3>Facturación</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteNeogiciacionKey","Reporte")">
                <div class="card">
                    <h3>Proyectos en Negociación</h3>
                </div>
            </a>
            <a href="@Url.Action("ReportehorasSociosProyectos","Reporte",new{mes=DateTime.Now.Month,anio=DateTime.Now.Year})">
                <div class="card">
                    <h3>HH-Socios a Proyectos</h3>
                </div>
            </a>
     
        </div>
        <h2 class="section-header">Facturaciones</h2>
        <div class="section-content">
            <a href="@Url.Action("ReportesFactura","Reporte")">
                <div class="card">
                    <h3>Proyección de Facturación</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteMargenProyectos","Reporte")">
                <div class="card">
                    <h3>Margen de Contribución de Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteProyectosNegociacion","Reporte")">
                <div class="card">
                    <h3>Proyectos en Negociación</h3>
                </div>

            </a>
           <a href="@Url.Action("ReporteResumenQuarter","Reporte",new{anio = DateTime.Now.Year})">
                <div class="card">
                    <h3>Resumen por Quarter</h3>
                </div>

            </a>
    
       

        </div>
        <h2 class="section-header">Reportes HH Asignadas</h2>
        <div class="section-content">
            <a href="@Url.Action("ReporteHHSocios","Reporte",new{recurso = "Socio"})">
                <div class="card">
                    <h3>HH Socios Asignadas a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteHHStaff","Reporte",new{recurso = "Staff"})">
                <div class="card">
                    <h3>HH Staff Asignadas a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteHHConsultorA","Reporte",new{tipoconsultor = "Consultor A"})">
                <div class="card">
                    <h3>HH Consultor A Asignadas a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteHHConsultorB","Reporte",new{tipoconsultor = "Consultor B"})">
                <div class="card">
                    <h3>HH Consultor B Asignadas a Proyectos</h3>
                </div>

            </a>

            <a href="@Url.Action("ReporteHHConsultorC","Reporte",new{tipoconsultor = "Consultor C"})">
                <div class="card">
                    <h3>HH Consultor C Asignadas a Proyectos</h3>
                </div>

            </a>

        </div>
        <h2 class="section-header">Reportes Costos Asignadas</h2>
        <div class="section-content">

            <a href="@Url.Action("ReporteCostosSocios","Reporte",new{recurso = "Socio"})">
                <div class="card">
                    <h3>Costos HH Socios Asignable a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteCostosStaff","Reporte",new{recurso = "Staff"})">
                <div class="card">
                    <h3>Costos HH Staff Asignable a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteCostosConsultorA","Reporte",new{tipoconsultor = "Consultor A"})">
                <div class="card">
                    <h3>Costos HH Consultor A Asignable a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteCostosConsultorB","Reporte",new{tipoconsultor = "Consultor B"})">
                <div class="card">
                    <h3>Costos HH Consultor B Asignable a Proyectos</h3>
                </div>

            </a>
            <a href="@Url.Action("ReporteCostosConsultorC","Reporte",new{tipoconsultor = "Consultor C"})">
                <div class="card">
                    <h3>Costos HH Consultor C Asignable a Proyectos</h3>
                </div>

            </a>

        </div>
        <h2 class="section-header">Reporte Control Avance HH</h2>
        <div class="section-content">
            <a href="@Url.Action("SeleccionarProyecto","Reporte")">
                <div class="card">
                    <h3>Control Avances HH</h3>
                </div>

            </a>
            <a href="@Url.Action("HHsociosActividad","Reporte",new{mes=DateTime.Now.Month})">
                <div class="card">
                    <h3>Actividades Socios</h3>
                </div>

            </a>


        </div>
<h2 class="section-header">Base de Datos</h2>
<div class="section-content">
    <a href="@Url.Action("DescargarBasedeDatos","Reporte")">
        <div class="card">
            <h3>Descargar Base de Datos de Proyectos</h3>
        </div>

    </a>
   


</div>
    



            