@{
    ViewData["Title"] = "Parametros Metas";

}
<h1 style="margin-top: 60px;" class="text-2xl font-bold mb-6 text-gray-800 text-center">Meta Facturación</h1>
<div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">Muestra las metas de facturación establecidas por la empresa para cada quarter. Existe la posibilidad de ajustar las metas iniciales definidas al comienzo de cada año.</p>
</div>
<div style="margin-top: 20px;" class="container mx-auto p-4 bg-white rounded-lg shadow-lg">
    <!-- Flexbox container for table and form -->
    <div class="flex flex-col lg:flex-row lg:space-x-8 space-y-8 lg:space-y-0">

        <!-- Table container -->
        <div class="lg:w-2/3 w-full bg-white p-4 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold mb-4 text-gray-800">Tabla de Facturación</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200" id="tablaReporte">
                    <thead class="bg-blue-200">
                        <tr>
                            <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Editar</th>
                            <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Año</th>
                            <th class="text-right text-sm font-semibold text-gray-700 px-4 py-2">Q1</th>
                            <th class="text-right text-sm font-semibold text-gray-700 px-4 py-2">Q2</th>
                            <th class="text-right text-sm font-semibold text-gray-700 px-4 py-2">Q3</th>
                            <th class="text-right text-sm font-semibold text-gray-700 px-4 py-2">Q4</th>
                            <th class="text-right text-sm font-semibold text-gray-700 px-4 py-2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var factura in ViewBag.DatosFacturas)
                        {
                            <tr data-anio="@factura.Anio" data-q1="@factura.q1" data-q2="@factura.q2" data-q3="@factura.q3" data-q4="@factura.q4" data-totalq="@factura.totalq">
                                <td class="text-left text-sm text-gray-700 px-4 py-2">
                                    <a href="@Url.Action("EditarMetaFactura","Metas",new{ id= factura.Id })"
                                       class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block">
                                        Editar
                                    </a>
                                </td>
                                <td class="text-left text-sm text-gray-700 px-4 py-2">@factura.Anio</td>
                                <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @factura.q1)</td>
                                <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @factura.q2)</td>
                                <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @factura.q3)</td>
                                <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @factura.q4)</td>
                                <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @factura.totalq)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Form container -->
        <div class="lg:w-1/3 w-full bg-gray-50 p-4 rounded-lg shadow-md">
            <h2 class="text-lg font-semibold mb-4 text-gray-800">Registrar Nueva Meta</h2>
            <form action="@Url.Action("RegistrarMetaFacturas", "Metas")" method="post" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="anio" class="block text-sm font-semibold text-gray-700">Año</label>
                    <input type="number" name="anio" id="aniofactura" required class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" />
                    <span id="anioError" class="text-red-500 text-sm hidden">Ya existe una meta facturación para este año.</span>
                </div>

                <div class="mb-4">
                    <label for="q1" class="block text-sm font-semibold text-gray-700">Q1</label>
                    <input type="text" name="q1" id="q1" required class="format-number w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" />
                </div>

                <div class="mb-4">
                    <label for="q2" class="block text-sm font-semibold text-gray-700">Q2</label>
                    <input type="text" name="q2" id="q2" required class="format-number w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" />
                </div>

                <div class="mb-4">
                    <label for="q3" class="block text-sm font-semibold text-gray-700">Q3</label>
                    <input type="text" name="q3" id="q3" required class="format-number w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" />
                </div>

                <div class="mb-4">
                    <label for="q4" class="block text-sm font-semibold text-gray-700">Q4</label>
                    <input type="text" name="q4" id="q4" required class="format-number w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" />
                </div>

                <div class="mb-4">
                    <label for="total" class="block text-sm font-semibold text-gray-700">Total</label>
                    <input type="text" name="total" id="total" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-200 focus:outline-none text-right" readonly />
                </div>

                <div>
                    <button type="submit" id="submitButton" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow focus:ring focus:ring-blue-300 focus:outline-none">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<h1 class="text-2xl font-bold mt-8 mb-6 text-gray-800">Metas Mix Por Tipologías</h1>

<div class="container mx-auto p-6 bg-white rounded-lg shadow-lg">
    <!-- Flex container for form and tables -->
    <div class="flex flex-col space-y-8">
        <!-- First table -->
        <div class="md:w-full bg-white p-6 rounded-lg shadow">
            <h2 class="text-lg font-semibold mb-4 text-gray-800">Duración por Tipología</h2>
            <table class="min-w-full divide-y divide-gray-200" id="tablaReporte">
                <thead class="bg-blue-200">
                    <tr >
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T1-L</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T2-M</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T3-S</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T4-XS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left text-sm text-gray-700 px-4 py-2">8</td>
                        <td class="text-left text-sm text-gray-700 px-4 py-2">6</td>
                        <td class="text-left text-sm text-gray-700 px-4 py-2">3</td>
                        <td class="text-left text-sm text-gray-700 px-4 py-2">1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Formulario sobre la segunda tabla -->
        <div class="md:w-full bg-white p-6 rounded-lg shadow">
            <h2 class="text-lg font-semibold mb-4 text-gray-800">Formulario de Metas de Tipologías</h2>
            <form action="@Url.Action("RegistrarMetaTipologia","Metas")" method="POST" enctype="multipart/form-data" class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="anio">
                        Año:
                    </label>
                    <input class="shadow  appearance-none border rounded w-full py-2 px-3 text-gray-700 text-right leading-tight focus:outline-none focus:ring" id="anio" name="aniotipologia" type="number" required>
                    <span id="aniotError" class="text-red-500 text-sm hidden">Ya existe una meta tipología para este año.</span>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="t1">
                        T1-L:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2  px-3 text-right text-gray-700 leading-tight focus:outline-none focus:ring" id="t1" type="number" name="t1" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="t2">
                        T2-M:
                    </label>
                    <input class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="t2" type="number" name="t2" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="t3">
                        T3-S:
                    </label>
                    <input class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="t3" type="number" name="t3" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="t4">
                        T4-XS:
                    </label>
                    <input class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="t4" type="number" name="t4" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="totals">
                        Total:
                    </label>
                    <input readonly class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="totals" type="number" name="totals" value="0">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="totalproyecto">
                        Total/Proyecto:
                    </label>
                    <input readonly class="text-right format-number shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 text-right leading-tight focus:outline-none focus:ring" id="totalproyecto" type="text" name="totalproyecto">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="duracion">
                        Duración Media/Mensual:
                    </label>
                    <input readonly class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="duracion" type="number" name="duracion">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="montomensual">
                        Monto Mensual:
                    </label>
                    <input readonly class="text-right shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" id="montomensual" type="text" name="montomensual">
                </div>
                <div class="col-span-1 md:col-span-3">
                    <button id="guardartipolgia" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring w-full md:w-auto" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>


        <!-- Second table -->
        <div class="md:w-full bg-white p-6 rounded-lg shadow">
            <h2 class="text-lg font-semibold mb-4 mt-8 text-gray-800">Año y Tipologías</h2>
            <table class="min-w-full divide-y divide-gray-200" id="tablaReporte">
                <thead class="bg-blue-200">
                    <tr>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Editar</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Año</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T1-K</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T2-M</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T3-S</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">T4-XS</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Total</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Total/Proyecto</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Duración Media</th>
                        <th class="text-left text-sm font-semibold text-gray-700 px-4 py-2">Monto Mensual</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in ViewBag.Tipologias)
                    {
                        <tr>
                            <td class="text-left text-sm text-gray-700 px-4 py-2">
                                <a href="@Url.Action("EditarMetaTipologia","Metas",new{ id= t.Id })"
                                   class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-block">
                                    Editar
                                </a>
                            </td>
                            <td class="text-left text-sm text-gray-700 px-4 py-2">@t.Anio</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.T1</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.T2</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.T3</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.T4</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.TotalProyecto</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @t.TotalPorProyecto)</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@t.DuracionMedia</td>
                            <td class="text-right text-sm text-gray-700 px-4 py-2">@String.Format("{0:N0}", @t.MontoMensual)</td>
                        </tr>
                    }
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function formatNumberWithDots(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    function updateTotal() {

        let q1 = parseFloat(document.querySelector('input[name="q1"]').value.replace(/\./g, '')) || 0;
        let q2 = parseFloat(document.querySelector('input[name="q2"]').value.replace(/\./g, '')) || 0;
        let q3 = parseFloat(document.querySelector('input[name="q3"]').value.replace(/\./g, '')) || 0;
        let q4 = parseFloat(document.querySelector('input[name="q4"]').value.replace(/\./g, '')) || 0;

     
        let total = q1 + q2 + q3 + q4;

        document.querySelector('input[name="total"]').value = formatNumberWithDots(total);
    }


    document.querySelectorAll('.format-number').forEach(function (input) {
        input.addEventListener('input', function () {
            
            let value = this.value.replace(/\./g, '');

            if (!isNaN(value) && value !== '') {
                this.value = formatNumberWithDots(value);
            }

            // Actualizar el total cada vez que se cambia un valor
            updateTotal();
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener los inputs por su id
        const t1Input = document.getElementById('t1');
        const t2Input = document.getElementById('t2');
        const t3Input = document.getElementById('t3');
        const t4Input = document.getElementById('t4');
        const totalInput = document.getElementById('totals');

        function updateTotals() {
       
            const t1 = parseFloat(t1Input.value) || 0;
            const t2 = parseFloat(t2Input.value) || 0;
            const t3 = parseFloat(t3Input.value) || 0;
            const t4 = parseFloat(t4Input.value) || 0;

            
            const totals = t1 + t2 + t3 + t4;

          
            totalInput.value = totals;
        }

        t1Input.addEventListener('input', updateTotals);
        t2Input.addEventListener('input', updateTotals);
        t3Input.addEventListener('input', updateTotals);
        t4Input.addEventListener('input', updateTotals);




    });
</script>




<script>
    const anioInput = document.getElementById('anio');
    const t1Input = document.querySelector("#t1");
    const t2Input = document.querySelector("#t2");
    const t3Input = document.querySelector("#t3");
    const t4Input = document.querySelector("#t4");
    const totalProyectoInput = document.querySelector("#totals");
    const totalPorProyectoInput = document.querySelector("#totalproyecto");
    const duracionmediaInput = document.getElementById('duracion');
    const montoMensualInput = document.getElementById('montomensual');
    const submitButton = document.getElementById('guardartipolgia');
    const anioError = document.getElementById('aniotError');

    function validarAnio() {
        const anio = anioInput.value;

        if (anio) {
            fetch(`/Metas/Validaddisptipo?anio=${anio}`)
                .then(response => response.json())
                .then(data => {
                    if (data > 0) { // Si el año ya existe
                        anioError.classList.remove('hidden'); // Muestra el mensaje de error
                        submitButton.disabled = true;
                        t1Input.value = "";
                        t2Input.value = "";
                        t3Input.value = "";
                        t4Input.value = "";
                    } else {
                        anioError.classList.add('hidden'); // Oculta el mensaje de error
                        verificarBotonHabilitado(); // Verificar si el botón debe estar habilitado
                    }
                })
                .catch(error => console.error('Error en la validación:', error));
        }
    }

    function verificarBotonHabilitado() {
        const t1 = parseFloat(t1Input.value) || 0;
        const t2 = parseFloat(t2Input.value) || 0;
        const t3 = parseFloat(t3Input.value) || 0;
        const t4 = parseFloat(t4Input.value) || 0;
        const totalProyecto = parseFloat(totalProyectoInput.value) || 0;

        // Habilitar el botón solo si hay montos ingresados y no hay errores
        submitButton.disabled = (t1 === 0 && t2 === 0 && t3 === 0 && t4 === 0) || (totalProyecto <= 0);
    }

    function calcularSumaTotales() {
        const t1 = parseFloat(t1Input.value) || 0;
        const t2 = parseFloat(t2Input.value) || 0;
        const t3 = parseFloat(t3Input.value) || 0;
        const t4 = parseFloat(t4Input.value) || 0;
        const sumaTotales = t1 + t2 + t3 + t4;

        totalProyectoInput.value = sumaTotales;

        // Calcular duración media
        calcularDuracionMedia(t1, t2, t3, t4);
        calcularTotalProyecto();
    }

    function calcularDuracionMedia(t1, t2, t3, t4) {
        const totalHorasTipologias = t1 * 8 + t2 * 6 + t3 * 3 + t4;
        const totalTipologias = t1 + t2 + t3 + t4;

        // Si hay tipologías ingresadas, calcular la media
        if (totalTipologias > 0) {
            const media = totalHorasTipologias / totalTipologias;
            duracionmediaInput.value = Math.round(media); // Mostrar duración media
        } else {
            duracionmediaInput.value = ""; // Limpiar si no hay valores
        }
    }

    // Función para calcular Total/Proyecto
    function calcularTotalProyecto() {
        const t1 = parseFloat(t1Input.value) || 0;
        const t2 = parseFloat(t2Input.value) || 0;
        const t3 = parseFloat(t3Input.value) || 0;
        const t4 = parseFloat(t4Input.value) || 0;

        if (t1 === 0 && t2 === 0 && t3 === 0 && t4 === 0) {
            totalPorProyectoInput.value = ""; // Limpiar el resultado
            return;
        }

        const anioIngresado = anioInput.value;
        const filaFactura = document.querySelector(`tr[data-anio="${anioIngresado}"]`);

        if (filaFactura) {
            const q1 = parseFloat(filaFactura.getAttribute("data-q1")) || 0;
            const q2 = parseFloat(filaFactura.getAttribute("data-q2")) || 0;
            const q3 = parseFloat(filaFactura.getAttribute("data-q3")) || 0;
            const q4 = parseFloat(filaFactura.getAttribute("data-q4")) || 0;

            const totalAnioFactura = q1 + q2 + q3 + q4;
            const totalProyecto = parseFloat(totalProyectoInput.value) || 0;

            if (totalProyecto > 0) {
                const totalPorProyecto = Math.round(totalAnioFactura / totalProyecto / 1000000) * 1000000;
                totalPorProyectoInput.value = totalPorProyecto;

                // Calcular monto mensual
                const duracion = parseFloat(duracionmediaInput.value) || 1;
                const montoMensual = Math.round(totalPorProyecto / duracion / 1000000) * 1000000;
                totalPorProyectoInput.value = totalPorProyecto.toLocaleString('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
                montoMensualInput.value = montoMensual.toLocaleString('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
                submitButton.disabled = false; 
            } else {
                totalPorProyectoInput.value = "";
                montoMensualInput.value = "";
                alert("El total del proyecto no puede ser cero o vacío.");
                submitButton.disabled = true; 
            }
        } else {
            totalPorProyectoInput.value = "";
            montoMensualInput.value = "";
            alert("No se encontraron datos para el año ingresado, ya que no hay una meta factura ingresada");
            anioInput.value = "";
            submitButton.disabled = true; 
        }
    }

    // Escuchar eventos
    t1Input.addEventListener("input", () => { calcularSumaTotales(); verificarBotonHabilitado(); });
    t2Input.addEventListener("input", () => { calcularSumaTotales(); verificarBotonHabilitado(); });
    t3Input.addEventListener("input", () => { calcularSumaTotales(); verificarBotonHabilitado(); });
    t4Input.addEventListener("input", () => { calcularSumaTotales(); verificarBotonHabilitado(); });
    anioInput.addEventListener("change", () => { validarAnio(); calcularTotalProyecto(); });
</script>




<script>
    document.getElementById('aniofactura').addEventListener('change', function () {
        const anio = this.value;
        const anioError = document.getElementById('anioError');
        const submitButton = document.getElementById('submitButton');

        if (anio) {
            fetch(`/Metas/ValidaddispFactura?anio=${anio}`)
                .then(response => response.json())
                .then(data => {
                    if (data > 0) { // Si el año ya existe
                        anioError.classList.remove('hidden'); // Muestra el mensaje de error
                        submitButton.disabled = true; // Deshabilita el botón de envío
                    } else {
                        anioError.classList.add('hidden'); // Oculta el mensaje de error
                        submitButton.disabled = false; // Habilita el botón de envío
                    }
                })
                .catch(error => console.error('Error en la validación:', error));
        }
    });
</script>

