@{
    ViewData["Title"] = "Editar Usuario";
    int? idusuario = Context.Session.GetInt32("id");
}
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #f5f5f5;
    }

    .change-password-btn {
        position: absolute;
        top: 120px;
        right: 20px;
        padding: 10px 15px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #007bff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .change-password-btn:hover {
            background-color: #0056b3;
        }

    .form-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    .form-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            margin-bottom: 5px;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group select {
            cursor: pointer;
        }

    .submit-btn {
        display: inline-block;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #fcaa67;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .submit-btn:hover {
            background-color: #e39450;
        }
</style>

<div class="form-container">
    <h1 class="form-title">Editar Personal</h1>
    @if (ViewBag.Usuario != null)
    {
        @foreach (var usuario in ViewBag.Usuario)
        {
            @*<a href="@Url.Action("EditarContrasena","Usuario",new{idusuario=usuario.Id})" class="change-password-btn">Cambiar Contraseña</a>*@
            <form action="@Url.Action("ActualizarDatos","Usuario")" method="post" enctype="multipart/form-data">
                <!-- Nombre -->
                <input type="hidden" name="idusuario" value="@usuario.Id" />
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" value="@usuario.Nombre" required>
                </div>

                <!-- RUT -->
                <div class="form-group">
                    <label for="rut">RUT(Sin Puntos Ni Guiones)</label>
                    <input type="number" id="rut" name="nombreusuario" value="@usuario.Nombre_Usuario" required>
                    <span id="rutStatus"></span>
                </div>

                <!-- Teléfono -->
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" value="@usuario.Telefono" required>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="@usuario.Email" required>
                    <span id="emailStatus"></span>
                </div>

                <!-- Nombre del Recurso -->
                <div class="form-group">
                    
                    @if (idusuario == 88)
                    {
                        <label for="nombreRecurso">Tipo de Personal</label>
                        <select id="tipoPersonal" name="nombrerecurso" required>
                            <option value="" disabled selected>Seleccione un tipo de recurso</option>
                            @if (usuario.RolRecurso == "Socio")
                            {
                                <option value="Socio" selected>Socio</option>
                            }
                            else
                            {
                                <option value="Socio">Socio</option>
                            }
                            @if (usuario.RolRecurso == "Staff")
                            {
                                <option value="Staff" selected>Staff</option>
                            }
                            else
                            {
                                <option value="Staff">Staff</option>
                            }
                            @if (usuario.RolRecurso == "Consultor Externo")
                            {
                                <option value="Consultor Externo" selected>Consultor Externo</option>
                            }
                            else
                            {
                                <option value="Consultor Externo">Consultor Externo</option>
                            }
                            @if (usuario.RolRecurso == "Administrador MyCFO")
                            {
                                <option value="Administrador MyCFO" selected>Administrador MyCFO</option>
                            }
                            else
                            {
                                <option value="Administrador MyCFO">Administrador MyCFO</option>
                            }

             
                        </select>
                    }
                    
                    else{

                        <input value="@usuario.RolRecurso" name="nombrerecurso" type="hidden"/>
                    }
                </div>

                @if (usuario.Numero_Horas > 0)
                {
                    <div class="form-group">
                        <label for="numeroHoras">Contrato de Número de Horas Semanales</label>
                        <input type="number" id="numeroHoras" name="hhsemanales" value="@usuario.Numero_Horas" min="1">
                    </div>
                }
                <!-- Número de Horas -->
                

                <!-- % Horas a Proyectos -->
                @if (usuario.PROCENTAJE_PROYECTO > 0)
                {
                    <div class="form-group">
                        <label for="porcentaje">Porcentaje de Horas a Proyectos</label>
                        <input type="text" id="porcentaje" name="porcentaje" value="@usuario.PROCENTAJE_PROYECTO" min="1">
                    </div>
                }
               

                <!-- Costo Unitario -->
                @if (usuario.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Admin.") || usuario.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Administrador"))
                {
                    <div class="form-group">
                        <label for="costoUnitario">Costo Unitario</label>
                        <input readonly type="text" id="costoUnitario" name="costo" value="@usuario.Costo_Unitario" required step="0.01" min="0">
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="costoUnitario">Costo Unitario</label>
                        <input type="text" id="costoUnitario" name="costo" value="@usuario.Costo_Unitario" required step="0.01" min="0">
                    </div>
                }
                
                @if (usuario.Desde != null)
                {
                    <div class="form-group">
                        <label for="desde">Desde</label>
                        <input type="date" id="desde" name="fechainicio" value="@usuario.Desde.ToString("yyyy/MM/dd")">
                    </div>
                }
                @if(usuario.Hasta!= null)
                {
                    <div class="form-group">
                        <label for="hasta">Hasta</label>
                        <input type="date" id="hasta" name="fechatermino" value="@usuario.Hasta.ToString("yyyy/MM/dd")">
                    </div>
                }
               


                <button type="submit" class="submit-btn">Guardar Cambios</button>
            </form>
        }
    }
   
    
</div>

<script>
    $(document).ready(function () {
        $('#email').on('input', function () {
            var email = $(this).val();
            if (email.length > 0) {
                $.ajax({
                    url: '@Url.Action("VerificarCorreo", "Usuario")',
                    type: 'GET',
                    data: { email: email },
                    contentType: 'application/json',
                    success: function (resultado) {
                        if (resultado === 1) {
                            $('#emailStatus').text("El correo ya está registrado.").css("color", "red");
                            $('.submit-btn').prop('disabled', true);
                        } else {
                            $('#emailStatus').text("").css("color", "green");
                            $('.submit-btn').prop('disabled', false);
                        }
                    },
                    error: function () {
                        $('#emailStatus').text("Error al verificar el correo.").css("color", "orange");
                    }
                });
            } else {
                $('#emailStatus').text("");
                $('.submit-btn').prop('disabled', false);
            }
        });
    });

    $(document).ready(function () {
        $('#rut').on('input', function () {
            var rut = $(this).val();
            if (rut.length > 0) {
                $.ajax({
                    url: '@Url.Action("VerificarRut", "Usuario")',
                    type: 'GET',
                    data: { rut: rut },
                    contentType: 'application/json',
                    success: function (resultado) {
                        if (resultado === 1) {
                            $('#rutStatus').text("El rut ya está registrado.").css("color", "red");
                            $('.submit-btn').prop('disabled', true);
                        } else {
                            $('#rutStatus').text("").css("color", "green");
                            $('.submit-btn').prop('disabled', false);
                        }
                    },
                    error: function () {
                        $('#rutStatus').text("Error al verificar el correo.").css("color", "orange");
                    }
                });
            } else {
                $('#rutStatus').text("");
                $('.submit-btn').prop('disabled', false);
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {

        const tipopersonal = document.getElementById('tipoPersonal');
        const numerohorasInput = document.getElementById('numeroHoras').parentElement;
        const porcentajeInput = document.getElementById('porcentaje').parentElement;
        const fechainicioInput = document.getElementById('desde').parentElement
        const fechafinInput = document.getElementById('hasta').parentElement
        // Función para mostrar/ocultar los inputs en función del valor seleccionado
        function toggleInputs() {
            const selectedValue = tipopersonal.value;

            if (selectedValue == "Consultor Externo") {

                numerohorasInput.style.display = 'none';
                porcentajeInput.style.display = 'none';
                fechainicioInput.style.display = 'none';
                fechafinInput.style.display = 'none';
            } else {

                numerohorasInput.style.display = 'block';
                porcentajeInput.style.display = 'block';
                fechainicioInput.style.display = 'block';
                fechafinInput.style.display = 'block';
            }
        }
        tipopersonal.addEventListener('change', toggleInputs);
        toggleInputs();
    });
</script>