@{
    ViewData["Title"] = "Personal";
}

<div class="mt-10 mb-20">

    <div class="bg-white shadow-md rounded-xl p-6 md:p-8 max-w-7xl mx-auto">

        <div class="relative ">
            <a href="@Url.Action("Addpersonal","Usuario")"
               class="absolute top-4 right-4 bg-orange-500 hover:bg-orange-600 text-white font-semibold px-5 py-2 rounded-md transition">Agregar Personal</a>

            <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Personal</h1>

            <div class="bg-white p-4 rounded-lg shadow mb-10 max-w-4xl mx-auto">
                <p class="text-gray-600 text-sm text-center">
                    Muestra las HH de socios y staff asignables a proyectos, así como el costo unitario de cada hora; también define los parámetros de honorarios para cada tipo de consultor (A, B, C).
                </p>
            </div>

            <!-- Tablas Socios y Staff -->
            <div class="grid md:grid-cols-2 gap-6">
                <!-- Socios -->
                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">Socios</h2>
                    <div class="overflow-x-auto">
                        <table class="min-w-full text-xs text-left border border-gray-300">
                            <thead class="bg-orange-100 text-black">
                                <tr>
                                    <th class="p-3 border">Socio</th>
                                    <th class="p-3 border">Nombre</th>
                                    <th class="p-3 border">HH/Anuales</th>
                                    <th class="p-3 border">Hrs. a Proyectos</th>
                                    <th class="p-3 border">Costo Unitario</th>
                                    <th class="p-3 border">Estado</th>
                                    <th class="p-3 border">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Usuarios != null)
                                {
                                    @foreach (var recurso in ViewBag.Usuarios)
                                    {
                                        if (recurso.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Socio"))
                                        {
                                            <tr>
                                                <td class="p-4 border">@recurso.NOMBRE_RECURSO_CORRELATIVO</td>
                                                <td class="p-4 border">@recurso.Nombre</td>
                                                <td class="p-4 border">@String.Format("{0:N2}", @recurso.HH_ANUALES)</td>
                                                <td class="p-4 border">@String.Format("{0:N0}", @recurso.PROCENTAJE_PROYECTO) %</td>
                                                <td class="p-4 border">$@String.Format("{0:N0}", @recurso.Costo_Unitario)</td>
                                                <td class="p-4 border">@recurso.Estado</td>
                                                <td class="p-4 border">
                                                    <a href="@Url.Action("EditarDatosUsuario", "Usuario", new { idusuario = recurso.Id })" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded transition">Editar</a>
                                                </td>

                                            </tr>


                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Staff -->
                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">Staff</h2>
                    <div class="overflow-x-auto">
                        <table class="min-w-full text-xs text-left border border-gray-300">
                            <thead class="bg-orange-100 text-black">
                                <tr>
                                    <th class="p-3 border">Staff</th>
                                    <th class="p-3 border">Nombre</th>
                                    <th class="p-3 border">HH/Anuales</th>
                                    <th class="p-3 border">Hrs. a Proyectos</th>
                                    <th class="p-3 border">Costo Unitario</th>
                                    <th class="p-3 border">Estado</th>
                                    <th class="p-3 border">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Usuarios != null)
                                {
                                    @foreach (var recurso in ViewBag.Usuarios)
                                    {
                                        if (recurso.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Staff"))
                                        {
                                            <tr>
                                                <td class="p-4 border">@recurso.NOMBRE_RECURSO_CORRELATIVO</td>
                                                <td class="p-4 border">@recurso.Nombre</td>
                                                <td class="p-4 border">@String.Format("{0:N2}", @recurso.HH_ANUALES)</td>
                                                <td class="p-4 border">@String.Format("{0:N0}", @recurso.PROCENTAJE_PROYECTO) %</td>
                                                <td class="p-4 border">$@String.Format("{0:N0}", @recurso.Costo_Unitario)</td>
                                                <td class="p-4 border">@recurso.Estado</td>
                                                <td class="p-4 border">
                                                    <a href="@Url.Action("EditarDatosUsuario", "Usuario", new { idusuario = recurso.Id })" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded transition">Editar</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- HH Totales y Costo Promedio -->
            <div class="grid md:grid-cols-2 gap-6 mt-12">
                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">HH Anuales por Rol</h2>
                    <table class="min-w-full text-sm text-left border border-gray-300">
                        <thead class="bg-orange-100 text-black">
                            <tr>
                                <th class="p-3 border">Rol</th>
                                <th class="p-3 border">Total HH/@DateTime.Now.Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.TotalAnuales != null)
                            {
                                @foreach (var recurso in ViewBag.TotalAnuales)
                                {
                                    <tr>
                                        <td class="p-4 border">@recurso.TipoRecurso</td>
                                        <td class="p-4 border">@String.Format("{0:N2}", @recurso.Totalinmodificable)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">Costo Promedio por Rol/Proyecto</h2>
                    <table class="min-w-full text-sm text-left border border-gray-300">
                        <thead class="bg-orange-100 text-black">
                            <tr>
                                <th class="p-3 border">Rol</th>
                                <th class="p-3 border">Costo Promedio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Costos != null)
                            {
                                @foreach (var recurso in ViewBag.Costos)
                                {
                                    <tr>
                                        <td class="p-4 border">@recurso.TipoRecurso</td>
                                        <td class="p-4 border">@String.Format("{0:N0}", @recurso.Valor)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Consultores Externos -->
            <div class="mt-12">
                <h2 class="text-lg font-semibold text-gray-700 mb-2 text-center">Consultores Externos</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full text-sm text-left border border-gray-300 mx-auto">
                        <thead class="bg-orange-100 text-black">
                            <tr>
                                <th class="p-3 border">Tipo</th>
                                <th class="p-3 border">Nombre</th>
                                <th class="p-3 border">Costo Unitario</th>
                                <th class="p-3 border">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Usuarios != null)
                            {
                                @foreach (var recurso in ViewBag.Usuarios)
                                {
                                    if (recurso.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Consultor"))
                                    {
                                        <tr>
                                            <td class="p-4 border">@recurso.NOMBRE_RECURSO_CORRELATIVO</td>
                                            <td class="p-4 border">@recurso.Nombre</td>
                                            <td class="p-4 border">$@String.Format("{0:N0}", @recurso.Costo_Unitario)</td>
                                            <td class="p-4 border">
                                                <a href="@Url.Action("EditarDatosUsuario", "Usuario", new { idusuario = recurso.Id })" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded transition">Editar</a>
                                            </td>

                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Admin MyCFO y Admin Sistema -->
            <div class="grid md:grid-cols-2 gap-6 mt-12">
                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">Administrador MyCFO</h2>
                    <table class="min-w-full text-sm text-left border border-gray-300">
                        <thead class="bg-orange-100 text-black">
                            <tr>
                                <th class="p-3 border">Rol</th>
                                <th class="p-3 border">Nombre</th>
                                <th class="p-3 border">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Usuarios != null)
                            {
                                @foreach (var recurso in ViewBag.Usuarios)
                                {
                                    if (recurso.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Administrador"))
                                    {
                                        <tr>
                                            <td class="p-4 border">@recurso.NOMBRE_RECURSO_CORRELATIVO</td>
                                            <td class="p-4 border">@recurso.Nombre</td>
                                            <td class="p-4 border">
                                                <a href="@Url.Action("EditarDatosUsuario", "Usuario", new { idusuario = recurso.Id })" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded transition">Editar</a>
                                            </td>

                                        </tr>


                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2">Administrador Sistema</h2>
                    <table class="min-w-full text-sm text-left border border-gray-300">
                        <thead class="bg-orange-100 text-black">
                            <tr>
                                <th class="p-3 border">Rol</th>
                                <th class="p-3 border">Nombre</th>
                                <th class="p-3 border">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Usuarios != null)
                            {
                                @foreach (var recurso in ViewBag.Usuarios)
                                {
                                    if (recurso.NOMBRE_RECURSO_CORRELATIVO.StartsWith("Admin."))
                                    {
                                        <tr>
                                            <td class="p-4 border">@recurso.NOMBRE_RECURSO_CORRELATIVO</td>
                                            <td class="p-4 border">@recurso.Nombre</td>
                                            <td class="p-4 border">
                                                <a href="@Url.Action("EditarDatosUsuario", "Usuario", new { idusuario = recurso.Id })" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded transition">Editar</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*MODAL*@
<div id="successModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" data-show="@((TempData["SuccessMessage"] != null) ? "true" : "false")">
    <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-xl font-semibold mb-4">¡Éxito!</h2>
        <p>@TempData["SuccessMessage"]</p>
        <button id="closeModalBtn" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 mt-4">Cerrar</button>
    </div>
</div>

<script>

    window.addEventListener('DOMContentLoaded', (event) => {
        const successModal = document.getElementById('successModal');
        const closeModalBtn = document.getElementById('closeModalBtn');


        if (successModal.getAttribute('data-show') === "true") {
            successModal.classList.remove('hidden');
        }

        closeModalBtn.addEventListener('click', () => {
            successModal.classList.add('hidden');
        });

        window.addEventListener('click', (e) => {
            if (e.target === successModal) {
                successModal.classList.add('hidden');
            }
        });
    });
</script>
