@{
    ViewData["Title"] = "Forecast Ingreso";
}

<style>
    .form-container {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 60px;
    }

    .form-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    .form-subtitle {
        font-size: 1.0rem;
        color: #666;
        text-align: center;
        margin-bottom: 20px;
    }



    .highlight {
        background-color: #f8d7da;
        font-weight: bold;
    }

</style>
<div class="form-container">

    <div class="form-group">

        @foreach (var proyecto in ViewBag.Proyecto)
        {

            <p class="form-subtitle" style="color:black;">Información del Proyecto</p>

            <input type="hidden" id="unidadNegocio" value="@proyecto.IDUNEGOCIO" />
            <input type="hidden" id="centroCosto" value="@proyecto.IDCOSTO" />
            <div class="overflow-x-auto">
                <table class="min-w-full text-xs border-collapse">
                    <thead>
                        <tr class="bg-green-100 text-black">
                            <th class="p-2 border border-gray-300 text-left">Número del Proyecto</th>
                            <th class="p-2 border border-gray-300 text-left">Proyecto</th>
                            <th class="p-2 border border-gray-300 text-left">Cliente</th>
                            <th class="p-2 border border-gray-300 text-left">Monto</th>
                            <th class="p-2 border border-gray-300 text-left">Departamento</th>
                            <th class="p-2 border border-gray-300 text-left">C.Costo</th>
                            <th class="p-2 border border-gray-300 text-left">Código</th>
                            <th class="p-2 border border-gray-300 text-left">Tipología Proyecto</th>
                            <th class="p-2 border border-gray-300 text-left">Empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.numproyecto</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.NombreProyecto</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.NombreCliente</td>
                            <td class="p-2 border border-gray-300 text-left">@String.Format("{0:N0}", @proyecto.MONTO)</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.NOMBREDEPARTAMENTO</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.Tipo_CCosto</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.Codigo</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.Tipo_Tipologia</td>
                            <td class="p-2 border border-gray-300 text-left">@proyecto.Tipo_Empresa</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        }
    </div>

    <div class="form-group">

        <p class="form-subtitle" style="color:black;">Status Gastos HH</p>
        <div class="overflow-x-auto">
            <table class="min-w-full text-xs border-collapse">
                <thead>
                    <tr class="bg-green-100 text-black">
                        <th class="p-2 border border-gray-300 text-left">TipoCosto</th>
                        <th class="p-2 border border-gray-300 text-left">Fecha</th>
                        <th class="p-2 border border-gray-300 text-left">FechaPago</th>
                        <th class="p-2 border border-gray-300 text-left">IDCUENTA</th>
                        <th class="p-2 border border-gray-300 text-left">Cuenta Contable</th>
                        <th class="p-2 border border-gray-300 text-left">Horas Efectivas</th>
                        <th class="p-2 border border-gray-300 text-left">Total</th>
                        <th class="p-2 border border-gray-300 text-left">Acción</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">Pago HH Socios</td>
                        <td class="p-2 border border-gray-300 text-left">31/08/2024</td>
                        <td class="p-2 border border-gray-300 text-left"></td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Costo Consultor Interno</td>
                        <td class="p-2 border border-gray-300 text-right">30</td>
                        <td class="p-2 border border-gray-300 text-right">1.200.000</td>
                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto HH</button>
                        </td>
                       
                        
                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">Pago HH Staff</td>
                        <td class="p-2 border border-gray-300 text-left">31/08/2024</td>
                        <td class="p-2 border border-gray-300 text-left"></td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Costo Consultor Interno</td>
                        <td class="p-2 border border-gray-300 text-right">30</td>
                        <td class="p-2 border border-gray-300 text-right">630.000</td>
                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto HH</button>
                        </td>

                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">Pago HH Consultores</td>
                        <td class="p-2 border border-gray-300 text-left">31/08/2024</td>
                        <td class="p-2 border border-gray-300 text-left"></td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Honorario Consultor Externo</td>
                        <td class="p-2 border border-gray-300 text-right">30</td>
                        <td class="p-2 border border-gray-300 text-right">240.000</td>
                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto HH</button>
                        </td>

                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>


    @*SERVICIOS*@


    <div class="form-group">

        <p class="form-subtitle" style="color:black;">Status Servicios </p>
        <div class="overflow-x-auto">
            <table id="tablaServicios" class="min-w-full text-xs border-collapse">
                <thead>
                    <tr class="bg-red-100 text-black">
                        <th class="p-2 border border-gray-300 text-left">TipoServicios</th>
                        <th class="p-2 border border-gray-300 text-left">Proveedor</th>
                        <th class="p-2 border border-gray-300 text-left">Monto</th>
                        <th class="p-2 border border-gray-300 text-left">FechaPago</th>
                        <th class="p-2 border border-gray-300 text-left">IDCUENTA</th>
                        <th class="p-2 border border-gray-300 text-left">Cuenta Contable</th>
                        
                        

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">
                            <select class="serviciosSelect px-4 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                                
                            </select>
                        </td>
                        <td class="p-2 border border-gray-300 text-left">
                            <select class="proveedorSelect px-4 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                                
                            </select>
                        </td>
                        <td class="p-2 border border-gray-300 text-right"><input type="text" id="montoservicio" name="montoservicio" class="form-control text-right px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-25" /></td>
                        <td class="p-2 border border-gray-300 text-left"><input type="date" name="fechaservicio" class="form-control text-right px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-30" /></td>
                        <td class="p-2 border border-gray-300 text-right "><input class="form-control text-right px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-20 idcuentaservicio" readonly/></td>
                        <td class="p-2 border border-gray-300 text-left "><input class="form-control text-right px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-48 cuentaservicio" readonly/></td>
                        
                       


                    </tr>
                    
                </tbody>
            </table>
            <button id="btnAgregarServicio" class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Servicio</button>
        </div>

    </div>

    <div class="form-group">

        <p class="form-subtitle" style="color:black;">Status Gastos </p>
        <div class="overflow-x-auto">
            <table class="min-w-full text-xs border-collapse">
                <thead>
                    <tr class="bg-yellow-100 text-black">
                        <th class="p-2 border border-gray-300 text-left">TipoGasto</th>
                        <th class="p-2 border border-gray-300 text-left">Monto</th>
                        <th class="p-2 border border-gray-300 text-left">FechaPago</th>
                        <th class="p-2 border border-gray-300 text-left">IDCUENTA</th>
                        <th class="p-2 border border-gray-300 text-left">Cuenta Contable</th>

                        <th class="p-2 border border-gray-300 text-left">Acción</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">
                            <select class="px-4 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option>Pasaje</option>
                                <option>Alimentación</option>
                                <option selected>Otro</option>
                            </select>
                        </td>
                        <td class="p-2 border border-gray-300 text-right">120.000</td>
                        <td class="p-2 border border-gray-300 text-left">31/10/2024</td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Costo Terceros</td>

                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto</button>
                        </td>


                    </tr>
                    <tr>
                        <td class="p-2 border border-gray-300 text-left">
                            <select class="px-4 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option>Pasaje</option>
                                <option>Alimentación</option>
                                <option selected>Otro</option>
                            </select>
                        </td>
                        <td class="p-2 border border-gray-300 text-right">120.000</td>
                        <td class="p-2 border border-gray-300 text-left">31/10/2024</td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Costo Terceros</td>

                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto</button>
                        </td>


                    </tr>
                    <tr>
                        
                        <td class="p-2 border border-gray-300 text-left">
                            <select class="px-4 py-2 text-sm border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option>Pasaje</option>
                                <option>Alimentación</option>
                                <option selected>Otro</option>
                            </select>
                        </td>
                        
                        <td class="p-2 border border-gray-300 text-right">120.000</td>
                        <td class="p-2 border border-gray-300 text-left">31/10/2024</td>
                        <td class="p-2 border border-gray-300 text-right">5101001</td>
                        <td class="p-2 border border-gray-300 text-left">Costo Terceros</td>

                        <td>
                            <button class="px-4 py-2 text-sm text-white bg-blue-500 border border-gray-300 rounded transition duration-300 ease-in-out hover:bg-blue-400 hover:opacity-80">Agregar Gasto</button>
                        </td>


                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>


<script>
    /*CARGA INICIAL PAGINA */
    document.addEventListener("DOMContentLoaded", function () {
    
    
    
          const filas = document.querySelectorAll('#tablaServicios tbody tr');

            filas.forEach(fila => {
             obtenerValoresServicioParaFila(fila);
                });
    
    
    });

    /*SERVICIOS */

        function obtenerValoresServicioParaFila(fila) {
            const idUnidadNegocio = $("#unidadNegocio").val();
            const idCentroCosto = $("#centroCosto").val();

            if (idUnidadNegocio && idCentroCosto) {
                $.ajax({
                url: '/Proyecto/GetValoresServicios',
                type: 'GET',
                data: {
                    idcosto: idCentroCosto,
                    idunegocio: idUnidadNegocio
                },
                success: function (response) {
                    if (response && response.length > 0) {
                        
                        $(fila).find('.idcuentaservicio').val(response[0].idcuenta);
                        $(fila).find('.cuentaservicio').val(response[0].cuenta);
                    } else {
                       
                        $(fila).find('.idcuentaservicio').val('');
                        $(fila).find('.cuentaservicio').val('');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener el servicio:', error);
                    $(fila).find('.idcuentaservicio').val('');
                    $(fila).find('.cuentaservicio').val('');
                }
                });
            }
        }



      function cargarServicios(selectElement) {
        $.ajax({
            url: '/Proyecto/ObtenerServicios',
            type: 'GET',
            success: function (data) {
                $(selectElement).empty();
                $(selectElement).append('<option value="" disabled selected>Seleccione un Servicio</option>');

                $.each(data, function (index, servicio) {
                    $(selectElement).append('<option value="' + servicio.id + '">' + servicio.nombre + '</option>');
                });
            },
            error: function () {
                alert('Ocurrió un error al cargar los servicios.');
            }
        });
      }


    $(document).ready(function () {
        $('.serviciosSelect').each(function () {
            cargarServicios(this);
        });
        $('.proveedorSelect').each(function () {
            cargarProveedoresServicios(this);
        });
    });

    function cargarProveedoresServicios(selectElement) {
        $.ajax({
            url: '/EjecucionProyecto/ObtenerProveedoresServicios',
            type: 'GET',
            success: function (data) {
                $(selectElement).empty();
                $(selectElement).append('<option value="" disabled selected>Seleccione un Proveedor</option>');

                $.each(data, function (index, proveedor) {
                    $(selectElement).append('<option value="' + proveedor.id + '">' + proveedor.nombre + '</option>');
                });
            },
            error: function () {
                alert('Ocurrió un error al cargar los proveedor.');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {

        function formatCurrency(event) {
            let value = event.target.value;


            value = value.replace(/[^\d]/g, '');


            if (value !== '') {

                let formattedValue = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                event.target.value = formattedValue;
            }
        }

        function removePoints(event) {
            let value = event.target.value;


            value = value.replace(/\./g, '');
            event.target.value = value;
        }


        function cleanInputsOnSubmit(event) {

            const inputs = event.target.querySelectorAll('input[name*="montoservicio"]');

            inputs.forEach(input => {

                let value = input.value;
                value = value.replace(/\./g, '');
                input.value = value;
            });
        }


        const montoInputs = document.querySelectorAll('input[name*="montoservicio"]');


        montoInputs.forEach(input => {
            input.addEventListener('input', formatCurrency);
        });


        const form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', cleanInputsOnSubmit);
        }
         document.getElementById("btnAgregarServicio").addEventListener("click", function () {
        
                setTimeout(() => {
            
                    const nuevosMontos = document.querySelectorAll('input[name*="montoservicio"]');

                        nuevosMontos.forEach(input => {
                            if (!input.hasAttribute('data-format-listener')) { 
                            input.addEventListener('input', formatCurrency);
                            input.setAttribute('data-format-listener', 'true'); 
                        }
                    });
                }, 100);
          });
    });


     document.addEventListener('DOMContentLoaded', function () {
        
        const agregarServicioButtons = document.querySelectorAll('button[id^="btnAgregarServicio"]');

        agregarServicioButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();

                
                const tablaId = button.id.replace('btnAgregarServicio', 'tablaServicios');
                const tableBody = document.querySelector(`#${tablaId} tbody`);

                if (!tableBody) {
                    console.error(`No se encontró la tabla con ID ${tablaId}`);
                    return;
                }

                
                const lastRow = tableBody.querySelector('tr:last-child');

                if (!lastRow) {
                    console.error('No hay filas en la tabla para clonar.');
                    return;
                }

                const newRow = lastRow.cloneNode(true);

             
                newRow.querySelectorAll('input').forEach(input => {
                    input.value = '';
                });

                
                newRow.querySelectorAll('select').forEach(select => {
                    select.value = '';
                });

                
                tableBody.appendChild(newRow);

                newRow.querySelectorAll('.serviciosSelect').forEach(select => {
                    cargarServicios(select);
                });
                newRow.querySelectorAll('.proveedorSelect').forEach(select => {
                    cargarProveedoresServicios(select);
                });

                
                obtenerValoresServicioParaFila(newRow);
            });
        });
    });

</script>