@{
    ViewData["Title"] = "Detalle Proyecto";
}

<style>
    .form-container {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    .form-subtitle {
        font-size: 1.2rem;
        color: #666;
        text-align: center;
        margin-bottom: 20px;
    }

    .tables-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .table-container {
        flex: 1;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
    }

    .highlight {
        background-color: #f8d7da;
        font-weight: bold;
    }

    .update-btn, .nuevo-btn {
        padding: 10px 30px;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .update-btn {
        color: #fff;
        background-color: #fcaa67;
    }

        .update-btn:hover {
            background-color: #e39450;
        }

    .nuevo-btn {
        color: #fff;
        background-color: #007bff;
    }

        .nuevo-btn:hover {
            background-color: #0056b3;
        }
</style>

<div class="form-container">
    <div class="form-group">
        @foreach (var proyecto in ViewBag.Proyectos)
        {
            <p class="form-subtitle" style="color:black;">Detalles del Proyecto</p>
            @if (proyecto.Tipo_Status != "Rechazado")
            {
                <a href="@Url.Action("EditarProyecto","Proyecto",new {id=proyecto.Id,idcliente=proyecto.IDCLIENTE})" class="update-btn">Editar Proyecto</a>
            }
           
            @if(proyecto.Tipo_Status == "En Negociación")
            {
                <button type="button" class=" nuevo-btn">Ingresar Nueva Negociación</button>
            }
            <div class="tables-wrapper">
                
                <div class="table-container">
                    <table>
                        <tbody>
                            <tr>
                                <td class="highlight">Número del Proyecto</td>
                                <td>@proyecto.numproyecto</td>
                            </tr>
                            <tr>
                                <td class="highlight">U.Negocio</td>
                                <td>@proyecto.Tipo_Unegocio</td>
                            </tr>
                            <tr>
                                <td class="highlight">C.Costo</td>
                                <td>@proyecto.Tipo_CCosto</td>
                            </tr>
                            <tr>
                                <td class="highlight">Código</td>
                                <td>@proyecto.Codigo</td>
                            </tr>
                            <tr>
                                <td class="highlight">Cliente</td>
                                <td>@proyecto.NombreCliente</td>
                            </tr>
                            <tr>
                                <td class="highlight">Departamento</td>
                                <td>@proyecto.NOMBREDEPARTAMENTO</td>
                            </tr>
                            <tr>
                                <td class="highlight">Proyecto</td>
                                <td>@proyecto.NombreProyecto</td>
                            </tr>
                            <tr>
                                <td class="highlight">Tipología Proyecto</td>
                                <td>@proyecto.Tipo_Tipologia</td>
                            </tr>
                            <tr>
                                <td class="highlight">Empresa</td>
                                <td>@proyecto.Tipo_Empresa</td>
                            </tr>
                            <tr>
                                <td class="highlight">IVA</td>
                                <td>@proyecto.AfectaIva </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Segunda tabla -->
                <div class="table-container">
                    <table>
                        <tbody>
                            <tr>
                                <td class="highlight">Proceso</td>
                                <td>@proyecto.Tipo_Status</td>
                            </tr>
                            <tr>
                                <td class="highlight">Probabilidad</td>
                                <td>@proyecto.Probabilidad</td>
                            </tr>
                            <tr>
                                
                                @if (@proyecto.Porcentaje_Probabilidad > 0)
                                {
                                    <td class="highlight">Porc.Probabilidad</td>
                                    <td>@proyecto.Porcentaje_Probabilidad %</td>
                                }
                               
                            </tr>
                            <tr>
                                <td class="highlight">Plazo</td>
                                <td>@proyecto.Plazo</td>
                            </tr>
                            <tr>
                                @if (proyecto.Fecha_Plazo_Neg!= null){
                                    <td class="highlight">Fecha Plazo Negociación</td>
                                    <td>@proyecto.Fecha_Plazo_Neg.ToString("dd/MM/yyyy")</td>
                                }
                                
                                
                            </tr>
                            <tr>
                                <td class="highlight">Fecha Inicio</td>
                                <td>@proyecto.Fecha_Inicio.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <td class="highlight">Fecha Termino</td>
                                <td>@proyecto.Fecha_Termino.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <td class="highlight">Monto</td>
                                <td>@String.Format("{0:N2}", @proyecto.MONTO)</td>
                            </tr>
                            <tr>
                                <td class="highlight">Moneda</td>
                                <td>@proyecto.MONEDA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    @*FACTURAS PROYECTO*@
    <div class="form-group">
        <p class="form-subtitle" style="color:black">Facturas</p>
        <div style="display: flex; justify-content: space-between;">

            <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                    <tr style="background-color: #d9e2f3; color: black;">


                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">IDCuenta</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Cuenta Contable</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Segmento</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Mes</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Neto</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Iva</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Total</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        decimal totalesneto = 0;
                        decimal totaliva = 0;
                        decimal totalfactura = 0;
                    }

                    @foreach (var factura in ViewBag.Facturas)
                    {
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd;">@factura.IdCuenta</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@factura.Cuenta</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@factura.Segmento</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@factura.Fecha_Factura.ToString("MM/yyyy")</td>
                            <td id="neto" style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", factura.Neto)</td>
                            <td id="iva" style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", factura.IVA)</td>
                            <td id="totalf" style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", factura.Total)</td>
                            @{
                                totalesneto += factura.Neto;
                                totaliva += factura.IVA;
                                totalfactura += factura.Total;
                            }
                        </tr>
                    }

                  @{

              
                    decimal totalNetoRounded = totalesneto;
                    decimal totalIvaRounded = totaliva;
                    decimal totalFacturaRounded = totalfactura;

                    if (totalIvaRounded % 100 == 99)
                    {
                    totalIvaRounded += 1;
                    }
                    else if (totalIvaRounded % 100 != 0)
                    {
                    totalIvaRounded += (100 - (totalIvaRounded % 100));
                    }

                    if (totalFacturaRounded % 100 == 99)
                    {
                    totalFacturaRounded += 1;
                    }
                    else if (totalFacturaRounded % 100 != 0)
                    {
                    totalFacturaRounded += (100 - (totalFacturaRounded % 100));
                    }
                    }
                    <tr>
                        <td colspan="4" style="padding: 10px; border: 1px solid #ddd; background-color:#d9e2f3;text-align:left;"><strong>Totales</strong></td>
                        <td id="totalesNeto" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#d9e2f3;"><strong>@String.Format("{0:N2}", totalNetoRounded)</strong></td>
                        <td id="totalesIva" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#d9e2f3;"><strong>@String.Format("{0:N2}", totalIvaRounded)</strong></td>
                        <td id="totalesFacturas" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#d9e2f3;"><strong>@String.Format("{0:N2}", totalFacturaRounded)</strong></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>





    @*COSTOS DIRECTOS*@

    <div class="form-group">
        <p class="form-subtitle" style="color:black">Costos Directos</p>
        <div style="display: flex; justify-content: space-between;">
            @{
                decimal totalsocios = 0;
                decimal totalstaff = 0;
                decimal totalconsultores = 0;
            }
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                
            
            <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                    <tr style="background-color: #b2e6a5; color: black;">
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Costo</th>
                            <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Horas</th>
                            <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">IDCuenta</th>
                            <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Cuenta Contable</th>
                            <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Segmento</th>
                            <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;"><strong>Horas Socios</strong></td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.HHSOCIOS</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA_SOCIOS</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA_SOCIOS</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                                @proyecto.SEGMENTO_SOCIOS
                            

                        </td>
                            @{
                                totalsocios = proyecto.HHSOCIOS * @proyecto.COSTO_SOCIO;
                            }
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalsocios)</td>
                      
                    </tr>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;"><strong>Cons.Internos</strong></td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.HHSTAFF</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA_STAFF</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA_STAFF</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                                @proyecto.SEGMENTO_STAFF
                           
                        </td>
                            @{
                                totalstaff = proyecto.HHSTAFF * @proyecto.COSTO_STAFF;
                            }

                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalstaff)</td>
                     
                    </tr>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;"><strong>Consultor A</strong></td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.HH_CONSULTOR_A</td>
                            <td style="padding: 10px; border: 1px solid #ddd;"> @proyecto.IDCUENTA_CONSULTOR_A</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA_CONSULTOR_A</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                                @proyecto.SEGMENTO_CONSULTOR_A
                           

                        </td>
                            @{
                                decimal totalconsultora = proyecto.HH_CONSULTOR_A * @proyecto.COSTO_CONSULTORA;
                            }
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalconsultora) </td>

               
                     
                    </tr>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;"><strong>Consultor B</strong></td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.HH_CONSULTOR_B</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA_CONSULTOR_B</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA_CONSULTOR_B</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                                @proyecto.SEGMENTO_CONSULTOR_B
                           
                        </td>
                            @{
                                decimal totalconsultorB = proyecto.HH_CONSULTOR_B * @proyecto.COSTO_CONSULTORB;
                            }
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalconsultorB)</td>
                      
                    </tr>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;"><strong>Consultor C</strong></td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.HH_CONSULTOR_C</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA_CONSULTOR_C</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA_CONSULTOR_C</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">
                                @proyecto.SEGMENTO_CONSULTOR_C
                            
                        </td>
                            @{
                                decimal totalconsultorC = proyecto.HH_CONSULTOR_C * @proyecto.COSTO_CONSULTORC;
                            }
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalconsultorC)</td>
                     
                    </tr>
                        @{
                            decimal totalescostos = totalconsultorC + totalconsultorB + totalconsultora + totalstaff + totalsocios;
                            totalconsultores = totalconsultorC + totalconsultorB + totalconsultora;
                        }
                    <tr>
                        <td colspan="5" style="padding: 10px; border: 1px solid #ddd; background-color:#b2e6a5;text-align:left;"><strong>Total</strong></td>
                            <td id="totalcostos" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#b2e6a5;"><strong>@String.Format("{0:N2}", totalescostos)</strong> </td>

                    </tr>
                </tbody>
            </table>

            }
        </div>
    </div>

    <div class="form-group">
        <p class="form-subtitle" style="color:black">Subcontratación de Servicios</p>
        <div style="display: flex; justify-content: space-between;">

            


                <table style="width: 100%; border-collapse: collapse; text-align: left;">
                    <thead>
                    <tr style="background-color: #f9eb8b; color: black;">
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Servicio</th>
                        
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">IDCuenta</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Cuenta Contable</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Segmento</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Monto</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            
                           decimal totalservicios = 0;
                        }
                        @foreach(var proyecto in ViewBag.Servicios){
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd;"><strong>@proyecto.NOMBRESERVICIO</strong></td>
                            
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.NOMBRSEGMENTO</td>
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">

                                @String.Format("{0:N2}", @proyecto.MONTO)


                            </td>
                            @{
                                totalservicios += proyecto.MONTO;
                            }

                        </tr>
                       }
                       <tr>
                        <td colspan="4" style="padding: 10px; border: 1px solid #ddd; background-color:#f9eb8b;text-align:left;"><strong>Total</strong></td>
                        <td id="totalservicios" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#f9eb8b; text-align:right">@String.Format("{0:N2}", totalservicios) </td>
                       </tr>
                    </tbody>
                </table>

            
        </div>
    </div>

    <div class="form-group">
        <p class="form-subtitle" style="color:black">Gastos Operacionales</p>
        <div style="display: flex; justify-content: space-between;">




            <table style="width: 100%; border-collapse: collapse; text-align: left;">
                <thead>
                    <tr style="background-color: #f5bd89; color: black;">
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Gasto</th>
                        
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">IDCuenta</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Cuenta Contable</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Segmento</th>
                        <th style="padding: 10px; border: 1px solid #ddd;text-align:center;">Monto</th>

                    </tr>
                </thead>
                <tbody>
                    @{

                        decimal totalgastos = 0;
                    }
                    @foreach (var proyecto in ViewBag.Gastos)
                    {
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd;"><strong>@proyecto.NOMBREGASTO</strong></td>
                            
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.IDCUENTA</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.CUENTA</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">@proyecto.NOMBRSEGMENTO</td>
                            <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">


                                @String.Format("{0:N2}", @proyecto.MONTO)
                            </td>
                            @{
                                totalgastos += proyecto.MONTO;
                            }

                        </tr>
                    }
                    <tr>
                        <td colspan="4" style="padding: 10px; border: 1px solid #ddd; background-color:#f5bd89;text-align:left;"><strong>Total</strong></td>
                        <td id="totalgastos" style="padding: 10px; border: 1px solid #ddd; text-align:right;background-color:#f5bd89;">@String.Format("{0:N2}", totalgastos) </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    <div class="form-group">
        <p class="form-subtitle" style="color:black;">Síntesis Económica del Proyecto</p>
        <table style="width: 80%; border-collapse: collapse; margin: 0 auto;">
            <thead>
                <tr style="background-color: #fa8164; color: black; text-align:center">
                    <th style="padding: 10px; border: 1px solid #ddd;">Nombre</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Total</th>



                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd; text-align:left;"><strong>Ingresos</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;"><strong>@String.Format("{0:N2}", totalesneto)</strong></td>

                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:left;"><strong>Horas Socios</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalsocios)</td>

                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:left;"><strong>Horas Staff</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalstaff)</td>

                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:left;"><strong>Horas Cons.Externos</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalconsultores)</td>

                </tr>

                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:left;"><strong>Serv. Contratados</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalservicios)</td>

                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:left;"><strong>Gastos Operacionales</strong></td>
                    <td style="padding: 10px; border: 1px solid #ddd;text-align:right;">@String.Format("{0:N2}", totalgastos)</td>

                </tr>
                @{
                    decimal totalegresos = totalsocios + totalstaff + totalconsultores + totalgastos + totalservicios;
                }
                <tr>
                    <td style="padding: 10px; border: 1px solid #fa8164;text-align:left;"><strong>Total Egresos</strong></td>
                    <td style="padding: 10px; border: 1px solid #fa8164;text-align:right;">
                        <strong>@String.Format("{0:N2}", totalegresos)</strong>
                    </td>

                </tr>
                @{
                    decimal margen = totalesneto - totalegresos;
                }
                <tr style="background-color: #fa8164; color: black;">
                    <td style="padding: 10px; border: 1px solid #fa8164;text-align:left;"><strong>Margen Esperado</strong></td>
                    <td style="padding: 10px; border: 1px solid #fa8164;text-align:right;"><strong>@String.Format("{0:N2}", margen)</strong></td>

                </tr>
            </tbody>
        </table>

    </div>

</div>

<script>

   
</script>