@{
    ViewData["Title"] = "Gestor SubActividades";
}

<div style="width: 80%; margin: 0 auto; background-color: white; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; display: flex; justify-content: space-between;margin-top: 50px;">
    <div style="width: 60%;">
        <div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
            <p class="text-sm text-gray-600">Muestra alternativas de subactividades a realizar por socios/staff/consultores con el objeto de definir mejor los tiempos futuros asignados a cada actividad.</p>
        </div>
        <h2 style="text-align: center; color: #333;">Sub Actividades</h2>

        <table style="width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;" id="tablagastos">
            <thead>
                <tr style="background-color: #d9e2f3; color: black;">
                    <th style="padding: 5px; border: 1px solid #ddd; width: 10%;">Seleccionar</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Nombre</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Actividad</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Rol</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Cuenta</th>
                    
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.SubActividades != null)
                {
                    foreach (var subactividad in ViewBag.SubActividades)
                    {
                        <tr>
                            <td style="padding: 5px; border: 1px solid #ddd; text-align: center;">
                                <button type="button"
                                        onclick="cargarDatosAlternativa('@subactividad.Id', '@Html.Encode(subactividad.Nombre)','@Html.Encode(subactividad.Idactividad)','@Html.Encode(subactividad.Idcuenta)')">
                                    Seleccionar
                                </button>
                            </td>

                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @subactividad.Nombre
                            </td>
                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @subactividad.ActividadNombre
                            </td>
                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @subactividad.RolActividad
                            </td>
                            @if (subactividad.Cuenta != null)
                            {
                                <td style="padding: 5px; border: 1px solid #ddd;">
                                    @subactividad.Cuenta
                                </td>
                            }
                            else
                            {
                                <td style="padding: 5px; border: 1px solid #ddd;">
                              
                                </td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div style="width: 35%; margin-left: 20px;">
        <h2 style="text-align: center; color: #333;">Agregar SubActividad</h2>

        <form action="@Url.Action("GuardarActualizarSubActividades", "Parametros")" method="post">
            <input type="hidden" id="id" name="Id" />

            <label for="nombre" style="display: block; margin-bottom: 10px;">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
            <label for="actividad" style="display: block; margin-bottom: 10px;">Actividad:</label>
            <select id="actividad" name="Idactividad" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
                <option value="" disabled selected>Seleccione una Actividad</option>
                @if (ViewBag.Actividades != null)
                {
                    @foreach (var actividad in ViewBag.Actividades)
                    {
                        <option value="@actividad.Id">@actividad.Nombre - @actividad.TipoAcatividad</option>
                    }

                }
            </select>
            <label for="cuenta" style="display: block; margin-bottom: 10px;">Cuenta:</label>
            <select id="cuenta" name="Idcuenta" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
                <option value="" disabled selected>Seleccione una Cuenta</option>
                @if (ViewBag.Cuentas != null)
                {
                    @foreach (var cuenta in ViewBag.Cuentas)
                    {
                        <option value="@cuenta.Id">@cuenta.Cuenta</option>
                    }

                }
            </select>
            <button type="submit" style="width: 100%; padding: 10px; background-color: #fcaa67; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Guardar
            </button>
            <button type="button" onclick="limpiarFormulario()" style="width: 100%; padding: 10px; background-color: cornflowerblue; color: white; border: none; border-radius: 4px; cursor: pointer; margin-top: 10px;">
                Limpiar
            </button>
        </form>
    </div>
</div>

<script>
    function cargarDatosAlternativa(id, nombre, actividad,cuenta) {
        const idInput = document.querySelector('#id');
        const nombreInput = document.querySelector('#nombre');
        const ActividadInput = document.querySelector('#actividad');
        const CuentaInput = document.querySelector('#cuenta');
        idInput.value = id;
        nombreInput.value = nombre;
        ActividadInput.value = actividad;
        CuentaInput.value = cuenta;
    }
    function limpiarFormulario() {
        location.reload();
    }
</script>