@{
    ViewData["Title"] = "Gestor Segmentos";
}

<div style="display: flex; justify-content: space-between; padding: 20px;margin-top: 50px;">

   
    <div style="width: 60%; margin-right: 20px;">
        
        <div style="width: 100%; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 20px;">
            <div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
                <p class="text-sm text-gray-600">Muestra las cuentas contables asociada a cada gasto.</p>
            </div>
            <h2 style="text-align: center; color: #333;">Segmentos Costo</h2>

            <table style="width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;" id="tablagastos">
                <thead>
                    <tr style="background-color: #d9e2f3; color: black;">
                        <th style="padding: 10px; border: 1px solid #ddd; width: 10%;">Seleccionar</th>
                        <th style="padding: 10px; border: 1px solid #ddd; width: 35%;">Nombre</th>
                        <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">Código</th>
                        <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">ID Cuenta</th>
                        <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Segmentos != null)
                    {
                        foreach (var segmento in ViewBag.Segmentos)
                        {
                            @if (segmento.tiposegmento == "Costos")
                            {
                                <tr>
                                    <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">
                                        <button type="button" class="btn-select" onclick="cargarDatosAlternativa('@segmento.idsegmento', '@Html.Encode(segmento.SegmentoNombre)','@Html.Encode(segmento.tiposegmento)','@Html.Encode(segmento.idcuenta)','@Html.Encode(segmento.Idunidad)')">
                                            Seleccionar
                                        </button>
                                    </td>
                                    <td style="padding: 10px; border: 1px solid #ddd;">@segmento.SegmentoNombre</td>
                                    <td style="padding: 10px; border: 1px solid #ddd;">@segmento.UnidadCodigo</td>
                                    <td style="padding: 10px; border: 1px solid #ddd;">@segmento.CuentaId</td>
                                    <td style="padding: 10px; border: 1px solid #ddd;">@segmento.CuentaNombre</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <!-- Repite el contenedor para las otras tablas -->
        @foreach (var tipoSegmento in new[] { "Servicios", "Factura", "Honorarios", "Gastos" })
        {
            <div style="width: 100%; margin-top: 20px;">
                <div style="width: 100%; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 20px;">
                    <h2 style="text-align: center; color: #333;">Segmentos @tipoSegmento</h2>

                    <table style="width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;" id="tablagastos">
                        <thead>
                            <tr style="background-color: #d9e2f3; color: black;">
                                <th style="padding: 10px; border: 1px solid #ddd; width: 10%;">Seleccionar</th>
                                <th style="padding: 10px; border: 1px solid #ddd; width: 35%;">Nombre</th>
                                <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">Código</th>
                                <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">ID Cuenta</th>
                                <th style="padding: 10px; border: 1px solid #ddd; width: 20%;">Cuenta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Segmentos != null)
                            {
                                foreach (var segmento in ViewBag.Segmentos)
                                {
                                    if (segmento.tiposegmento == tipoSegmento)
                                    {
                                        <tr>
                                            <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">
                                                <button type="button" class="btn-select" onclick="cargarDatosAlternativa('@segmento.idsegmento', '@Html.Encode(segmento.SegmentoNombre)','@Html.Encode(segmento.tiposegmento)','@Html.Encode(segmento.idcuenta)','@Html.Encode(segmento.Idunidad)')">
                                                    Seleccionar
                                                </button>
                                            </td>
                                            <td style="padding: 10px; border: 1px solid #ddd;">@segmento.SegmentoNombre</td>
                                            <td style="padding: 10px; border: 1px solid #ddd;">@segmento.UnidadCodigo</td>
                                            <td style="padding: 10px; border: 1px solid #ddd;">@segmento.CuentaId</td>
                                            <td style="padding: 10px; border: 1px solid #ddd;">@segmento.CuentaNombre</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    <!-- Sección del formulario a la derecha -->
    <div style="width: 35%; margin-left: 20px;">
        <h2 style="text-align: center; color: #333;">Agregar Segmento</h2>

        <form action="@Url.Action("GuardarActualizarSegmentos", "Parametros")" method="post">
            <input type="hidden" id="id" name="Id" />

            <label for="idcuenta" style="display: block; margin-bottom: 10px;">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
            <label for="tipo" style="display: block; margin-bottom: 10px;">Tipo de Segmento:</label>
            <select id="tipo" name="TipoSegmento" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;">

                <option value="Costos">Costos</option>
                <option value="Servicios">Servicios</option>
                <option value="Factura">Factura</option>
                <option value="Honorarios">Honorarios</option>
                <option value="Gastos">Gastos</option>

            </select>
            <label for="cuenta" style="display: block; margin-bottom: 10px;">Cuenta:</label>
            <select id="cuenta" name="IdCuenta" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
                <option value="" disabled selected>Seleccione una Cuenta</option>
                @if (ViewBag.Cuentas!=null)
                {
                    @foreach(var cuenta in ViewBag.Cuentas)
                    {
                        <option value="@cuenta.Id">@cuenta.Cuenta</option>
                    }
                    
                }
            </select>
            <label for="ccosto" style="display: block; margin-bottom: 10px;">Cccosto:</label>
            
            <select id="ccosto" name="Idccosto"  style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
                <option value="" disabled selected>Seleccione un Ccosto</option>
                @if (ViewBag.Ccostos!=null)
                {
                    @foreach(var ccosto in ViewBag.Ccostos)
                    {
                        <option value="@ccosto.Id">@ccosto.Codigo</option>
                    }
                }
            </select>
            <button type="submit" style="width: 100%; padding: 10px; background-color: #fcaa67; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Guardar
            </button>
            <button type="button" onclick="limpiarFormulario()" style="width: 100%; padding: 10px; background-color: cornflowerblue; color: white; border: none; border-radius: 4px; cursor: pointer; margin-top: 10px;">
                Limpiar
            </button>
        </form>
    </div>
</div>


<script>
    function cargarDatosAlternativa(id, nombre, tipo,cuenta,ccosto) {
        const idInput = document.querySelector('#id');
        const nombreInput = document.querySelector('#nombre');
        const tiposegmentoInput = document.querySelector('#tipo');
        const cuentaInput = document.querySelector('#cuenta');
        const ccostoInput = document.querySelector('#ccosto');

        idInput.value = id;
        nombreInput.value = nombre;
        tiposegmentoInput.value = tipo;
        cuentaInput.value = cuenta;
        ccostoInput.value = ccosto;
        if (ccostoInput.value) {
            ccostoInput.disabled = true;
        }
    }
    function limpiarFormulario() {
        location.reload();
    }
</script>