@{
    ViewData["Title"] = "Gestor Proveedores";
}

<div style="width: 80%; margin: 0 auto; background-color: white; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; display: flex; justify-content: space-between;margin-top: 50px;">
    <div style="width: 60%;">
        <div class="container mx-auto mb-4 p-4 bg-white rounded-lg shadow-md">
            <p class="text-sm text-gray-600">Muestra los distintos tipos de proveedores asignables a un gasto y/o servicio, pudiendo agregar tantas categorías como se requiera.</p>
        </div>
        <h2 style="text-align: center; color: #333;">Proveedores</h2>

        <table style="width: 100%; border-collapse: collapse; text-align: left; font-size: 12px;" id="tablagastos">
            <thead>
                <tr style="background-color: #d9e2f3; color: black;">
                    <th style="padding: 5px; border: 1px solid #ddd; width: 10%;">Seleccionar</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 10%;">Rut</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Nombre</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Función</th>
                    <th style="padding: 5px; border: 1px solid #ddd; width: 35%;">Tipo</th>

                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Proveedores != null)
                {
                    foreach (var proveedor in ViewBag.Proveedores)
                    {
                        <tr>
                            <td style="padding: 5px; border: 1px solid #ddd; text-align: center;">
                                <button type="button"
                                        onclick="cargarDatosAlternativa('@proveedor.Id','@Html.Encode(proveedor.Rut)' ,'@Html.Encode(proveedor.Nombre)','@Html.Encode(proveedor.Funcion)','@Html.Encode(proveedor.Tipo)')">
                                    Seleccionar
                        </button>
                            </td>

                            <td style="padding: 5px; border: 1px solid #ddd;">
                               @proveedor.Rut
                            </td>
                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @proveedor.Nombre
                            </td>
                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @proveedor.Funcion
                            </td>
                            <td style="padding: 5px; border: 1px solid #ddd;">
                                @proveedor.Tipo
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div style="width: 35%; margin-left: 20px;">
        <h2 style="text-align: center; color: #333;">Agregar Proveedor</h2>

        <form action="@Url.Action("GuardarActualizarProveedor", "Parametros")" method="post">
            <input type="hidden" id="id" name="Id" />

            <label for="rut" style="display: block; margin-bottom: 10px;">Rut:</label>
            <input type="text" id="rut" name="Rut" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>
            
            <label for="idcuenta" style="display: block; margin-bottom: 10px;">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>

            <label for="funcion" style="display: block; margin-bottom: 10px;">Función que presta:</label>
            <input type="text" id="funcion" name="Funcion" style="width: 100%; padding: 8px; margin-bottom: 15px; border: 1px solid #ddd; border-radius: 4px;" required>

            <label for="tipo" style="display: block; margin-bottom: 10px;">Tipo:</label>
            <div id="tipo" style="margin-bottom: 15px;">
                <label style="margin-right: 10px;">
                    <input type="checkbox" name="Tipo" value="Gasto" style="margin-right: 5px;"> Gasto
                </label>
                <label>
                    <input type="checkbox" name="Tipo" value="Servicio" style="margin-right: 5px;"> Servicio
                </label>
            </div>

            <button type="submit" style="width: 100%; padding: 10px; background-color: #fcaa67; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Guardar
            </button>
            <button type="button" onclick="limpiarFormulario()" style="width: 100%; padding: 10px; background-color: cornflowerblue; color: white; border: none; border-radius: 4px; cursor: pointer; margin-top: 10px;">
                Limpiar
            </button>
        </form>
    </div>
</div>

<script>
    function cargarDatosAlternativa(id, rut,nombre,funcion,tipo) {
        const idInput = document.querySelector('#id');
        const idcuentaInput = document.querySelector('#nombre');
        const rutInput = document.querySelector('#rut');
        const funcionInput = document.querySelector('#funcion');

        idInput.value = id;
        idcuentaInput.value = nombre;
        rutInput.value = rut;
        rutInput.setAttribute('readonly', true);
        funcionInput.value = funcion;

        const checkboxes = document.querySelectorAll('#tipo input[type="checkbox"]');
        checkboxes.forEach(checkbox => checkbox.checked = false);

        
        if (tipo) {
            const tiposSeleccionados = tipo.split(',').map(t => t.trim());
            tiposSeleccionados.forEach(t => {
                const checkbox = Array.from(checkboxes).find(cb => cb.value === t);
                if (checkbox) checkbox.checked = true;
            });
        }
    }
    function limpiarFormulario() {
        location.reload();
    }
</script>