@{

    ViewData["Title"] = "Editar Cliente";
}
<style>
    .form-label {
    font-weight: 600;
    color: #333;
    }

    .form-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
    }

    .form-input:focus {
    border-color: #fcaa67; 
    outline: none;
    }

    .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .btn-primary {
    background-color: #000;
    color: #fcaa67;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
    }

    .btn-primary:hover {
    background-color: #333;
    }
</style>
<div class="container mx-auto mt-16">
    <div class="form-container">
        <h1 class="text-xl font-bold mb-6">Editar Información Cliente</h1>
        @foreach (var cliente in ViewBag.clientedatos)
        {
            <form method="post" action="@Url.Action("EditarCliente","Cliente") enctype="multipart/form-data">
                <input type="hidden" name="id" value="@cliente.Id"/>
                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Nombre">Nombre</label>
                    <input class="form-input" type="text" id="Nombre" name="nombre" value="@cliente.Nombre" required>
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Direccion">Dirección</label>
                    <input class="form-input" type="text" id="direccion" name="direccion" value="@cliente.Direccion" required>
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Ciudad">Ciudad</label>
                    <input class="form-input" type="text" id="Ciudad" name="ciudad" value="@cliente.Ciudad" required>
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Pais">País</label>
                    <input class="form-input" type="text" id="Pais" name="pais" value="@cliente.Pais" required>
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Telefono">Teléfono</label>
                    <input class="form-input" type="text" id="Telefono" name="telefono" value="@cliente.Telefono" required>
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="PagWeb">Página Web</label>
                    <input class="form-input" type="text" id="PagWeb" name="pagWeb" value="@cliente.PagWeb">
                </div>

                <div class="grid grid-cols-1 gap-4 mb-4">
                    <label class="form-label" for="Instagram">Instagram</label>
                    <input class="form-input" type="text" id="Instagram" name="instagram" value="@cliente.Instagram">
                </div>

                <div class="grid grid-cols-1 gap-4 mb-6">
                    <label class="form-label" for="Linkedin">LinkedIn</label>
                    <input class="form-input" type="text" id="Linkedin" name="linkedin" value="@cliente.Linkedin">
                </div>
                
                <div class="grid grid-cols-1 gap-4 mb-6">
                    <label class="form-label" for="Sucursales">Sucursales</label>
                    <div>
                        @if (ViewBag.Sucursales != null)
                        {
                            var isFirst = true;
                            foreach (var sucursal in ViewBag.Sucursales)
                            {
                                <div>
                                    <input type="radio" id="sucursal_@sucursal.Id" name="idsucursal" value="@sucursal.Id"
                                    @(isFirst ? "checked" : "")
                                           onchange="updateSucursalName('@sucursal.Nombre')" />
                                    <label for="sucursal_@sucursal.Id">@sucursal.Nombre </label>
                                </div>
                                isFirst = false;
                            }
                        }
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-4 mb-6">
                    <label class="form-label" for="sucursalNombre">Sucursal Seleccionada </label>
                    <input class="form-input" type="text" id="sucursalNombre" name="nombresucursal" placeholder="Selecciona una sucursal para editar el nombre" readonly>
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="btn-primary">Guardar Cambios</button>
                </div>
            </form>
        }
       
    </div>
</div>

<script>
  
    function updateSucursalName(nombre) {
        document.getElementById("sucursalNombre").value = nombre;
        document.getElementById("sucursalNombre").removeAttribute("readonly"); 
    }

   
    window.onload = function () {
        var firstRadio = document.querySelector('input[name="idsucursal"]:checked');
        if (firstRadio) {
            updateSucursalName(firstRadio.nextElementSibling.textContent.trim());
        }
    };
</script>