@{
    ViewData["Title"] = "Nuestros Clientes";
}
<link rel="stylesheet" href="~/css/proyecto.css" asp-append-version="true" />

<div class="projects-container">
    <h1>Clientes</h1>

    <div class="filter-select">
        <select id="projectStatus" onchange="filterProjects()">
            <option value="">Todos los Clientes</option>
            <option value="negociacion">Empr.Públicas Chile</option>
            <option value="licitado">Empr.Privadas Chile</option>
            <option value="ejecucion">Fundaciones y Org.Sin Fin Lucro</option>
            <option value="terminados">Empr.Internacional</option>
            
        </select>
    </div>

    <!-- Secciones de proyectos -->
    <div class="projects-section" id="licitadoSection" style="display: none;">
        <div class="section-header">Empresas Privadas Chile</div>
        <div class="section-content" id="licitadoProjects">
            @foreach (var cliente in ViewBag.Clientes)
            {
                @if (cliente.TipoCliente == "Empr.Privadas Chile")
                {
                    <a href="@Url.Action("ProyectosCliente","Cliente",new{idcliente=cliente.Id})">
                        <div class="card new-cliente">

                            <h3>@cliente.Nombre</h3>
                           
                        </div>
                    </a>
                }
            }
        </div>
    </div>

   <div class="projects-section" id="negociacionSection" style="display: none;">
        <div class="section-header">Empresas Públicas Chile</div>
        <div class="section-content" id="negociacionProjects">
            @foreach (var cliente in ViewBag.Clientes)
            {
                @if (cliente.TipoCliente == "Empr.Públicas Chile")
                {
                    <a href="@Url.Action("ProyectosCliente","Cliente",new{idcliente=cliente.Id})">
                        <div class="card new-cliente">

                            <h3>@cliente.Nombre</h3>

                        </div>
                    </a>
                }
            }
        </div>
    </div>

    <div class="projects-section" id="ejecucionSection" style="display: none;">
        <div class="section-header">Fundaciones y Org.Sin Fin Lucro</div>
        <div class="section-content" id="ejecucionProjects">
            @foreach (var cliente in ViewBag.Clientes)
            {
                @if (cliente.TipoCliente == "Fundaciones y Org.Sin Fin Lucro")
                {
                    <a href="@Url.Action("ProyectosCliente","Cliente",new{idcliente=cliente.Id})">
                        <div class="card new-cliente">

                            <h3>@cliente.Nombre</h3>

                        </div>
                    </a>
                }
            }
        </div>
    </div>

    <div class="projects-section" id="terminadosSection" style="display: none;">
        <div class="section-header">Empr.Internacional</div>
        <div class="section-content" id="terminadosProjects">
            @foreach (var cliente in ViewBag.Clientes)
            {
                @if (cliente.TipoCliente == "Empr.Internacional")
                {
                    <a href="@Url.Action("ProyectosCliente","Cliente",new{idcliente=cliente.Id})">
                        <div class="card new-cliente">

                            <h3>@cliente.Nombre</h3>

                        </div>
                    </a>
                }
            }
        </div>
    </div>
    
   
</div>

<script>
    function filterProjects() {
        const statusFilter = document.getElementById('projectStatus').value;

        // Ocultar todas las secciones
        const sections = ['licitadoSection', 'negociacionSection', 'ejecucionSection', 'terminadosSection'];
        sections.forEach(section => {
            document.getElementById(section).style.display = 'none';
        });

        // Mostrar la sección correspondiente según el filtro
        if (statusFilter) {
            const selectedSection = statusFilter + 'Section';
            document.getElementById(selectedSection).style.display = 'block';
        } else {
            // Si no hay filtro, mostrar todas las secciones
            sections.forEach(section => {
                document.getElementById(section).style.display = 'block';
            });
        }
    }
</script>