@{
    ViewData["Title"] = "Detalles Cliente";
}
<style>
    /* Estilo para el contenido del dashboard */
    .dashboard-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 60px;
    }

    .dashboard-section {
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .projects-section {
        background-color: #fff;
    }

    .section-header {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .section-content {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .card {
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .card h3 {
            font-size: 1.125rem;
            font-weight: 600;
            color: #000;
        }

        .card p {
            font-size: 0.875rem;
            color: #6c6c6c;
        }

        .card.new {
            background-color: #333;
            border-left: 4px solid #fcaa67;
            cursor: pointer;
            color: #fff;
        }

            .card.new h3 {
                color: #fcaa67;
            }

            .card.new:hover {
                background-color: #333;
                border-color: #fcaa67;
            }

                .card.new:hover h3 {
                    color: #fcaa67;
                }

                .card.new:hover p {
                    color: #fff;
                }

        .card:hover {
            background-color: #333;
            border: 2px solid #fcaa67;
            cursor: pointer;
        }

            .card:hover h3 {
                color: #fcaa67;
            }

            .card:hover p {
                color: #fff;
            }

    .client-container {
        display: flex;
        gap: 2rem;
    }

    .client-details {
        flex: 1;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .client-contacts {
        flex: none;
        width: 40%; /* Ajusta este valor para cambiar el tamaño de la sección */
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative; /* Añadido para posicionar el botón de agregar contacto */
    }

        .client-details h2, .client-contacts h2 {
            margin-bottom: 1rem;
            text-align: center;
        }

    .client-details p {
        margin: 0.5rem 0;
    }

    .client-buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

        .client-buttons button {
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s;
        }

            .client-buttons button.edit {
                background-color: #fcaa67;
                color: #fff;
            }

            .client-buttons button.delete {
                background-color: #f44336;
                color: #fff;
            }

            .client-buttons button:hover {
                opacity: 0.8;
            }

    .client-contacts ul {
        list-style-type: none;
        padding: 0;
    }

    .client-contacts li {
        margin-bottom: 0.5rem;
    }

    .client-contacts a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s;
    }

        .client-contacts a:hover {
            color: #fcaa67;
        }

    .contacts-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
    }

        .contacts-table th,
        .contacts-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .contacts-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .contacts-table td {
            background-color: #fff;
        }

    .details-button, .view-more-button {
        background-color: #fcaa67;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .details-button:hover,
        .view-more-button:hover {
            background-color: #e09b5d;
        }

    .view-more-button {
        display: block;
        margin: 1rem auto;
        text-align: center;
    }

    .add-branch-button {
        background-color: #333; 
        color: #fcaa67; 
        border-left: 4px solid #fcaa67; 
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

        .add-branch-button:hover {
            background-color: #333; 
            border-color: #fcaa67;
            opacity: 0.8; 
        }

    .section-subheader {
        font-size: 1.15rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: #333;
    }

    .card.negotiation {
        background-color: #ffe0b3; 
    }

    .card.execution {
        background-color: #cceeff; 
    }

    .card.bidding {
        background-color: #fff3cd; 
        border: 1px solid #ffeeba; 
    }

    .card.finished {
        background-color: #cceac6; 
    }

    .card.rejected {
        background-color: #ffcccc; 
    }

    .card.presupuesto {
        background-color: #d0ece7;
    }
</style>
<div class="dashboard-container">
    <div class="client-container">
        <!-- Client Details Section -->
        <div class="client-details">
            <h2>Detalles del Cliente</h2>
            <button class="add-branch-button details-button" id="addBranchBtn">Agregar Departamento</button>
            <table class="min-w-full divide-y divide-gray-200 border border-gray-300">
                @foreach (var cliente in ViewBag.clientedetalle)
                {
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Nombre</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Nombre</td>
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">ID Cliente</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Id_Cliente</td>
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Tipo Cliente</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.TipoCliente</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Dirección</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Direccion</td>
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Ciudad</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Ciudad</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">País</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Pais</td>
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Teléfono</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Telefono</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Página Web</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.PagWeb</td>
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Instagram</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Instagram</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">LinkedIn</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Linkedin</td>
                    </tr>
                    <tr class="bg-white">
                        <td class="px-6 py-3 font-medium text-gray-900 border-b border-gray-300">Departamentos</td>
                        <td class="px-6 py-3 text-gray-700 border-b border-gray-300">@cliente.Sucursales_Cliente</td>
                    </tr>
                    <div class="client-buttons mt-4 flex justify-center gap-4">
                        <!-- Botón Editar -->
                        <button class="edit bg-orange-400 text-white p-2 rounded hover:bg-orange-500"
                                onclick="window.location.href='@Url.Action("EditarCliente", "Cliente", new { id = cliente.Id })'">
                            Editar
                        </button>

                        
                    </div>
                }
            </table>
         
        </div>


        <div class="client-contacts">
            <h2>Contactos</h2>
            @foreach(var cliente in ViewBag.clientedetalle)
            {
                <a href="@Url.Action("AgregarContacto", "Contacto", new { idcliente = cliente.Id })" class="details-button" id="addBranchBtn">Agregar Contacto</a>
            }
           
            @if (ViewBag.Contactos.Count > 0)
            {
                <table class="contacts-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contacto in ViewBag.Contactos)  
                    {
                        <tr>
                            <td>@contacto.Nombre</td>
                            <td>@contacto.Telefono</td>
                            <td>
                                <button class="details-button" onclick="window.location.href='@Url.Action("DetalleContacto", "Contacto", new { id = contacto.Id })'">Ver detalles</button>
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
                @foreach(var cliente in ViewBag.clientedetalle)
                {
                    <a class="view-more-button" href="@Url.Action("ContactosCliente", "Contacto", new { idcliente = cliente.Id })">Ver más</a>
                }
             
            }
            else
            {
                <p>No hay contactos disponibles.</p>
            }
        </div>
    
    </div>
            
    <!-- Projects Section -->
    <div class="projects-section dashboard-section">
        <div class="section-header">
            Proyectos
        </div>

        <!-- Proyectos en Presupuesto -->
        <div class="section-subheader">
            Proyectos En Presupuesto
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                if (proyecto.Tipo_Status == "Presupuesto")
                {
                    <a href="@Url.Action("ObtenerPresupuestoProyecto","Proyecto",new {id = proyecto.Id})">
                        <div class="card presupuesto">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }

            }


        </div>
        <!-- Proyectos en Negociación -->
        <div class="section-subheader">
            Proyectos En Negociación
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                if (proyecto.Tipo_Status == "En Negociación")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new {id = proyecto.Id})">
                        <div class="card negotiation">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }
                
            }
            
           
        </div>

        <!-- Proyectos en A licitar -->
        <div class="section-subheader">
            Proyectos en Licitación
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                if (proyecto.Tipo_Status == "A Licitar")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new {id = proyecto.Id})">
                        <div class="card bidding">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                    </div>
                    </a>
                }
            }
            
        </div>

        <!-- Proyectos Ejecución -->
        <div class="section-subheader">
            Proyectos en Ejecución
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                if (proyecto.Tipo_Status == "En Ejecución")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new {id = proyecto.Id})">
                        <div class="card execution">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }
            }
          
            
        </div>
        <div class="section-subheader">
            Proyectos Terminados
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {
                if (proyecto.Tipo_Status == "Terminado")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new {id = proyecto.Id})">
                        <div class="card finished">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }
            }
        </div>

        <!-- Proyectos Rechazados -->
        <div class="section-subheader">
            Proyectos Rechazados
        </div>
        <div class="section-content">
            @foreach (var proyecto in ViewBag.Proyectos)
            {

                if (proyecto.Tipo_Status == "Rechazado")
                {
                    <a href="@Url.Action("ObtenerProyectos","Proyecto",new {id = proyecto.Id})">
                        <div class="card rejected">
                            <h3>@proyecto.NombreProyecto</h3>
                            <p>@proyecto.numproyecto</p>
                            <p>@proyecto.NombreCliente</p>
                        </div>
                    </a>
                }
            }
            
            <!-- Más tarjetas de proyectos rechazados aquí -->
        </div>
    </div>
    <!-- Modal para agregar sucursal -->
    <div id="addBranchModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-xl font-semibold mb-4" style="color: #fcaa67;">Agregar Nuevo Departamento</h2>
            <form method="post" action="@Url.Action("AgregarSucursal", "Cliente")">
                <label for="branchName">Nombre de Departamento:</label>
                @foreach (var cliente in ViewBag.clientedetalle)
                {
                    <input type="hidden" name="idcli" value="@cliente.Id" />
                }
                
                <input type="text" id="branchName" name="nombre" required class="w-full border border-gray-300 p-2 rounded mt-2 mb-4">
                <button type="submit" class="details-button">Guardar</button>
                <button type="button" id="closeBranchModalBtn" class="details-button bg-red-500">Cerrar</button>
            </form>
        </div>
    </div>
    <!-- Modal para mostrar el mensaje de éxito -->
    <div id="successModal" class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" data-show="@((TempData["SuccessMessage"] != null) ? "true" : "false")">
        <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-xl font-semibold mb-4" style="color: #fcaa67;">¡Éxito!</h2>
            <p>@TempData["SuccessMessage"]</p>
            <button id="closeModalBtn" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 mt-4">Cerrar</button>
        </div>
    </div>
</div>
<script>
    function confirmarEliminacion(clienteId) {
        if (confirm("¿Estás seguro de que deseas eliminar este cliente? Esta acción no se puede deshacer.")) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '@Url.Action("EliminarCliente", "Cliente")';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'id';
            input.value = clienteId;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
<!--MODAL DE MENSAJE DE ÉXITO AL EDITAR DATOS-->
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const successModal = document.getElementById('successModal');
        const closeModalBtn = document.getElementById('closeModalBtn');

        if (successModal.getAttribute('data-show') === "true") {
            successModal.classList.remove('hidden');
        }

        closeModalBtn.addEventListener('click', () => {
            successModal.classList.add('hidden');
        });

        window.addEventListener('click', (e) => {
            if (e.target === successModal) {
                successModal.classList.add('hidden');
            }
        });
    });
</script>
<script>
    // Abrir el modal
    const addBranchBtn = document.getElementById('addBranchBtn');
    const addBranchModal = document.getElementById('addBranchModal');
    const closeBranchModalBtn = document.getElementById('closeBranchModalBtn');

    addBranchBtn.addEventListener('click', () => {
        addBranchModal.classList.remove('hidden');
    });

    // Cerrar el modal
    closeBranchModalBtn.addEventListener('click', () => {
        addBranchModal.classList.add('hidden');
    });

    window.addEventListener('click', (e) => {
        if (e.target === addBranchModal) {
            addBranchModal.classList.add('hidden');
        }
    });
</script>