<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body class="bg-gray-100">
    <!-- Top Panel (New Header) -->
    <header class="shadow">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo -->
            <div class="logo flex items-center">
                <img src="~/images/logo.PNG" alt="Logo" class="h-12">
            </div>
            @{
                int? idrol = Context.Session.GetInt32("idrol");
            }
            <!-- Navigation Menu -->
            <nav class="flex-grow">
                <ul class="menu-items">
                    @if (idrol == 1)
                    {
                        <li><a href="@Url.Action("Index","Home")">Dashboard</a></li>
                        <li><a href="@Url.Action("GetProyectos","Proyecto")">Proyectos</a></li>
                        <li><a href="@Url.Action("NuestrosClientes","Cliente")">Clientes</a></li>
                        <li><a href="@Url.Action("GetProyectosCategoria","Proyecto")">U.Negocio-C.Costo-Tipologías</a></li>
                        <li><a href="@Url.Action("PlanillaRegistro","Planilla")">Control HH </a></li>
                        <li><a href="@Url.Action("TodoslosParametros","Parametros")">Parametros</a></li>
                        <li><a href="@Url.Action("TodosReportes","Reporte")">Reportes</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("PlanillaRegistro","Planilla")">Control HH </a></li>
                        
                    }

                </ul>
            </nav>
            @{
                string? nombre = Context.Session.GetString("nombre");
            }
            <!-- User Profile -->
            <div class="user-profile">
                <img src="https://cdn-icons-png.flaticon.com/512/194/194938.png" alt="User Icon" id="userMenuButton" class="h-8 w-8">
                <div class="dropdown-menu" id="userMenu">
                    <p style="text-align:center">Hola,@nombre</p>
                    <a href="#">Editar perfil</a>
                    <a href="@Url.Action("Logout","Usuario")">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="main-content">
      @RenderBody()
    </div>

    <script>
        document.getElementById('userMenuButton').addEventListener('click', (event) => {
            event.stopPropagation(); 
            const userMenu = document.getElementById('userMenu');
            userMenu.style.display = userMenu.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', (event) => {
            const userMenu = document.getElementById('userMenu');
            const userMenuButton = document.getElementById('userMenuButton');

            if (!userMenu.contains(event.target) && !userMenuButton.contains(event.target)) {
                userMenu.style.display = 'none';
            }
        });
    </script>
</body>
</html>
